{% extends "layout.html" %}
{% block content %}
<div>
	<form action="{{url_for('user.account_edit')}}" method="post" enctype="multipart/form-data">
		<label>
		<input id="headimg" name="headimg" type="file" value="请上传您的头像" tabindex="1"
	    </label>
	    </label>
		<input type="submit" value="提交"  id="button" class="btn-submit disabled" tabindex="2" />
	</label>
	</form>
{% endblock %}