<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Xinganr&middot;心肝儿网</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="xinganr,心肝儿,心肝儿网,麻麻,孕婴,育儿社区,辣妈,组群"/>
	<meta name="description" content="心肝儿网是记录您宝贝成长历程中的生活点滴的社交网站" />
	<meta name="author" content="xinganr心肝儿网">
	<!-- Add jQuery library -->
	<script src="../static/js/jquery-1.9.1.min.js" type="text/javascript"></script>

	<!-- Add bootstrap library -->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>

	<!-- Add lettering logo-->
	<script src="../static/js/jquery.lettering-0.6.1.min.js" type="text/javascript"></script>

	<!-- Add waterfall library -->
	<script src="../static/js/waterfall.js" type="text/javascript"></script>

	<!-- Add handlebars template js模板-->
	<script src="../static/js/handlebars-1.0.rc.1.js" type="text/javascript"></script>
	<script src="../static/js/template.js" type="text/javascript"></script>

	<!-- Add index index 本地 -->
	<link href="../static/css/index.css" rel="stylesheet" />
	<script src="../static/js/my.js" type="text/javascript"></script>

	<!-- Add ruler 页面像素尺 -->
	<link href="http://www.zhangxinxu.com/study/css/ruler.css" rel="stylesheet" />
	<script src="http://www.zhangxinxu.com/study/js/jquery.zxxPageRuler.1.1.js" type="text/javascript"></script>

	<!-- Add mCustomScrollbar -->
	<link href="../static/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
	<script src="../static/js/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>

	<!-- Add Font Awesom图标字体 -->
	<link href="../static/css/font-awesome.min.css" rel="stylesheet" />

	<!--momentjs-->
	<script src="/static/js/moment.min.js"></script>

	{{ message }}