{% extends "layout.html" %}
{% block content %}
<div class="main">
	<div class="container">
		<div class="Upper">
			<img src="images/leaf/Autom-Leaf.png">
		</div>
		<!-- <button id="botAgregar">点击添加更多树叶</button> -->

		<div class="row-fluid">
			<div class="span8">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#">个人主页</a></li>
					<li><a href="#">礼物</a></li>
					<li><a href="#">日记</a></li>
					<li><a href="#">相册</a></li>
					<li><a href="#">话题</a></li>
					<li><a href="#">个人动态</a></li>
					<li><a href="#">留言板</a></li>
				</ul>
				<div id="sort1" class="groupWrapper">
					<div id="gift" class="groupItem">
						<div class="itmeHeader alert alert-info"><i class="icon-gift"></i> 给他的礼物&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;<a href="#" class="">（全部）</a></div>
						<div class="itemContent">	
							<div class="pic"><a style="width:120px;" class="fancybox-effects-c" href="../static/images/mmexport1369607350257.jpg" data-fancybox-group="gallery" title="美女我喜欢你美女我喜欢你美女我喜欢你美女我喜欢你美女我喜欢你哈哈哈哈哈哈哈哈"><img src="../static/images/mmexport1369607350257.jpg" alt=""/></a></div>
							
							<div class="cn_content">
								<img src="../static/images/p_large_K95i_04dc00006d065c73.jpg" alt="">
								<h6>儿子真乖</h6>
								<p>由于微软过去在IE浏览器研发上的“消极性”，直接导致了IE浏览器在Web页面样式、安全性及兼容性等方面越来越滞后。尽管微软意识到了这个问题，加快了IE浏览器的版本迭代，并借助操作系统推动IE浏览器版本升级，但因为操作系统版本的分散性及用户习惯等问题，微软IE6、IE7、IE8、IE9及IE10等各个版本的IE浏览器均占有一定的市场份额，尤其是IE6浏览器，在中国内地仍然占据25%左右的市场份额，而这也成为了众多站长及Web开发者比较头疼的“噩梦”——他们不得不花费大量的时间和精力来兼容各版本IE浏览器，尤其是IE6.0版本</p>
								<span class="cn_date">2010/09/28</span>
								<a href="http://tympanus.net/codrops/2010/09/28/polaroid-photobar-gallery/" target="_blank" class="cn_more">Read more</a>
							</div>
							
							<div class="pic"><a style="width:120px" class="fancybox-effects-c" href="../static/images/3d017.jpg" data-fancybox-group="gallery" title="美女我喜欢你美女我喜欢你美女我喜欢你美女我喜欢你美女我喜欢你哈哈哈哈哈哈哈哈"><img src="../static/images/3d017.jpg" alt=""/></a></div>
							
							<!-- <div class="pic"><a style="width:120px" class="fancybox-effects-c" href="../static/images/126.jpg" data-fancybox-group="gallery" title="美女我喜欢你美女我喜欢你美女我喜欢你美女我喜欢你美女我喜欢你哈哈哈哈哈哈哈哈"><img src="../static/images/126.jpg" alt=""/></a></div> -->
							<div class="cn_content">
								<h6>儿子真乖</h6>
								<p>由于微软过去在IE浏览器研发上的“消极性”，直接导致了IE浏览器在Web页面样式、安全性及兼容性等方面越来越滞后。尽管微软意识到了这个问题，加快了IE浏览器的版本迭代，并借助操作系统推动IE浏览器版本升级，但因为操作系统版本的分散性及用户习惯等问题，微软IE6、IE7、IE8、IE9及IE10等各个版本的IE浏览器均占有一定的市场份额，尤其是IE6浏览器，在中国内地仍然占据25%左右的市场份额，而这也成为了众多站长及Web开发者比较头疼的“噩梦”——他们不得不花费大量的时间和精力来兼容各版本IE浏览器，尤其是IE6.0版本</p>
								<span class="cn_date">2010/09/28</span>
								<a href="http://tympanus.net/codrops/2010/09/28/polaroid-photobar-gallery/" target="_blank" class="cn_more">Read more</a>
							</div>
							
						</div>
					</div>

					<div id="diary" class="groupItem">
						<div class="itmeHeader alert alert-error"><i class="icon-book"></i> 我的日记&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;<a href="#" class="">（全部）</a><a href="#" class="add"><i class="icon-magic"></i> 写日记</a></div>
						<div class="itemContent">	
							<div class="cn_content">
								<img src="../static/images/p_large_K95i_04dc00006d065c73.jpg" alt="">
								<h6>儿子真乖</h6>
								<p>由于微软过去在IE浏览器研发上的“消极性”，直接导致了IE浏览器在Web页面样式、安全性及兼容性等方面越来越滞后。尽管微软意识到了这个问题，加快了IE浏览器的版本迭代，并借助操作系统推动IE浏览器版本升级，但因为操作系统版本的分散性及用户习惯等问题，微软IE6、IE7、IE8、IE9及IE10等各个版本的IE浏览器均占有一定的市场份额，尤其是IE6浏览器，在中国内地仍然占据25%左右的市场份额，而这也成为了众多站长及Web开发者比较头疼的“噩梦”——他们不得不花费大量的时间和精力来兼容各版本IE浏览器，尤其是IE6.0版本</p>
								<span class="cn_date">2010/09/28</span>
								<a href="http://tympanus.net/codrops/2010/09/28/polaroid-photobar-gallery/" target="_blank" class="cn_more">Read more</a>
							</div>
							
							<div class="cn_content">
								<img src="../static/images/p_large_K95i_04dc00006d065c73.jpg" alt="">
								<h6>儿子真乖</h6>
								<p>由于微软过去在IE浏览器研发上的“消极性”，直接导致了IE浏览器在Web页面样式、安全性及兼容性等方面越来越滞后。尽管微软意识到了这个问题，加快了IE浏览器的版本迭代，并借助操作系统推动IE浏览器版本升级，但因为操作系统版本的分散性及用户习惯等问题，微软IE6、IE7、IE8、IE9及IE10等各个版本的IE浏览器均占有一定的市场份额，尤其是IE6浏览器，在中国内地仍然占据25%左右的市场份额，而这也成为了众多站长及Web开发者比较头疼的“噩梦”——他们不得不花费大量的时间和精力来兼容各版本IE浏览器，尤其是IE6.0版本</p>
								<span class="cn_date">2010/09/28</span>
								<a href="http://tympanus.net/codrops/2010/09/28/polaroid-photobar-gallery/" target="_blank" class="cn_more">Read more</a>
							</div>
							
							<div class="cn_content">
								<img src="../static/images/p_large_K95i_04dc00006d065c73.jpg" alt="">
								<h6>儿子真乖</h6>
								<p>由于微软过去在IE浏览器研发上的“消极性”，直接导致了IE浏览器在Web页面样式、安全性及兼容性等方面越来越滞后。尽管微软意识到了这个问题，加快了IE浏览器的版本迭代，并借助操作系统推动IE浏览器版本升级，但因为操作系统版本的分散性及用户习惯等问题，微软IE6、IE7、IE8、IE9及IE10等各个版本的IE浏览器均占有一定的市场份额，尤其是IE6浏览器，在中国内地仍然占据25%左右的市场份额，而这也成为了众多站长及Web开发者比较头疼的“噩梦”——他们不得不花费大量的时间和精力来兼容各版本IE浏览器，尤其是IE6.0版本</p>
								<span class="cn_date">2010/09/28</span>
								<a href="http://tympanus.net/codrops/2010/09/28/polaroid-photobar-gallery/" target="_blank" class="cn_more">Read more</a>
							</div>
							<div class="cn_content">
								<h6>儿子真乖</h6>
								<p>由于微软过去在IE浏览器研发上的“消极性”，直接导致了IE浏览器在Web页面样式、安全性及兼容性等方面越来越滞后。尽管微软意识到了这个问题，加快了IE浏览器的版本迭代，并借助操作系统推动IE浏览器版本升级，但因为操作系统版本的分散性及用户习惯等问题，微软IE6、IE7、IE8、IE9及IE10等各个版本的IE浏览器均占有一定的市场份额，尤其是IE6浏览器，在中国内地仍然占据25%左右的市场份额，而这也成为了众多站长及Web开发者比较头疼的“噩梦”——他们不得不花费大量的时间和精力来兼容各版本IE浏览器，尤其是IE6.0版本</p>
								<span class="cn_date">2010/09/28</span>
								<a href="http://tympanus.net/codrops/2010/09/28/polaroid-photobar-gallery/" target="_blank" class="cn_more">Read more</a>
							</div>
							
						</div>
					</div>

					<div id="photo" class="groupItem">
						<div class="itmeHeader alert alert-success"><i class="icon-picture"></i> 我的相册&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;<a href="#" class="">（全部）</a><a href="#" class="add"><i class="icon-magic"></i> 创建新相册</a></div>
						<div class="itemContent">	
							<div class="photo">
								<a style="width:120px" href="#"><img src="../static/images/126.jpg" alt=""/></a>
								<div class="img-info-wrapper">给他的礼物</div>
							</div>
							
							<div class="photo">
								<a style="width:120px" href="#"><img src="../static/images/p_large_q0ar_050a00006cea5c73.jpg" alt=""/></a>
								<div class="img-info-wrapper">movie</div>
							</div>
							
							<div class="photo">
								<a style="width:120px" href="#"><img src="../static/images/p_large_7jNW_29a6000032971260.jpg" alt=""/></a>
								<div class="img-info-wrapper">头像</div>
							</div>
							<div class="photo">
								<a style="width:120px" href="#"><img src="../static/images/126.jpg" alt=""/></a>
								<div class="img-info-wrapper">儿子</div>
							</div>
							
						</div>
					</div>
					<div id="topic" class="groupItem">
						<div class="itmeHeader alert alert-block"><i class="icon-leaf"></i> 我的话题&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;<a href="#" class="">（全部）</a></div>
						<div class="itemContent">	
							<div class="topic">
								<a href="#">「我快乐的」</a><span>2010/09/28</span>
							</div>
							
							<div class="topic">
								<a href="#">「我快」</a><span>2010/09/28</span>
							</div>
							
							<div class="topic">
								<a href="#">「我快乐的东贱人」</a><span>2010/09/28 22:48</span>
							</div>
							<div class="topic">
								<a href="#">「我快乐的」</a><span>2010/09/28 09:26</span>
							</div>
							<div class="topic">
								<a href="#">「我快乐的」</a><span>2010/09/28 22:48</span>
							</div>
							
						</div>
					</div>
					<div id="note" class="groupItem">
						<div class="itmeHeader alert alert-success"><i class="icon-volume-down"></i> 留言板&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;<a href="#" class="add"><i class="icon-magic"></i> 留言</a></div>
						<div class="well well-large">	
							
						</div>
					</div>

				</div>
			</div>
			
			<div class="span4">
				<div class="title" style="border">
					<div class="title-content">
						<a href="{{url_for('user.account_edit')}}"><img src="{{g.user.headimg}}" alt="" width="150" height="150"></a>
						<h4>{{g.user.nickname}}</h4>
						<span class="intro-display">他/她很害羞，还没想好跟大家说什么呢...</span>
						<span><a href="#">（编辑）</a></span>
						<form action="" method="post" name="edit-intro" >
							<textarea rows="3" style="margin: 0px; width: 95%;"></textarea>
							<button class="btn btn-mini" type="submit" id="intro-submit">保存</button>
							<button class="btn btn-mini" type="submit" id="intro-submit">取消</button>
						</form>
						<h5>有孩子一枚&nbsp;<span>@菲菲</span></h5>
						<img src="../static/images/arrow.png" alt="">
						<div class="brand">
							<!-- <span class="sex1">♂2岁半</span><span class="sign">狮子座</span> -->
							<span class="sex2">♀5个月</span><span class="sign">天蝎座</span>
							<div class="pull-right">
								<a href="#" class="btn btn-mini btn-primary"><i class="icon-plus"></i>关注</a>
								<div class="btn-group">
									<a class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
									    更多<i class="icon-caret-down"></i>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#"><i class="icon-envelope"></i> 发信息</a></li>
										<li><a href="#"><i class="icon-minus-sign"></i> 取消关注</a></li>
										<li><a href="#"><i class="icon-ban-circle"></i> 加入黑名单</a></li>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="well">
					<a href="#"><i class="icon-chevron-right" style="float:right;"></i></a>
					<a href="#"><img src="../static/images/126.jpg" alt=""></a>
					<h4>个人动态</h4>
					<p>奇幻之旅奇幻之旅奇幻之旅奇幻之旅奇幻之旅奇幻之旅奇幻之旅奇幻之旅奇幻之旅奇幻之旅奇幻之旅</p>
					<span><i class="icon-time"></i> 15分钟前</span>
					<a href="#" class="del">删除</a>
				</div>
				<div class="friend">
					<div class="itmeHeader alert alert-info"><i class="icon-bookmark"></i> 我的关注&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;<a href="#" class="">（全部）</a></div>
					<dl>
						<dt><a href="#"><img src="../static/images/126.jpg" alt=""></a></dt>
						<dd><a href="#">厚脸皮</a></dd>
					</dl>
					<dl>
						<dt><a href="#"><img src="../static/images/126.jpg" alt=""></a></dt>
						<dd><a href="#">厚脸皮</a></dd>
					</dl>
					<dl>
						<dt><a href="#"><img src="../static/images/3d017.jpg" alt=""></a></dt>
						<dd><a href="#">厚脸皮</a></dd>
					</dl>
					<dl>
						<dt><a href="#"><img src="../static/images/126.jpg" alt=""></a></dt>
						<dd><a href="#">厚脸皮</a></dd>
					</dl>
					<dl>
						<dt><a href="#"><img src="../static/images/126.jpg" alt=""></a></dt>
						<dd><a href="#">厚脸皮</a></dd>
					</dl>
					<dl>
						<dt><a href="#"><img src="../static/images/126.jpg" alt=""></a></dt>
						<dd><a href="#">厚脸皮</a></dd>
					</dl>
					<dl>
						<dt><a href="#"><img src="../static/images/126.jpg" alt=""></a></dt>
						<dd><a href="#">厚脸皮</a></dd>
					</dl>
					<dl>
						<dt><a href="#"><img src="../static/images/126.jpg" alt=""></a></dt>
						<dd><a href="#">厚脸皮</a></dd>
					</dl>
				</div>
			</div>
			
		</div>
	</div>
</div>
<script type="text/javascript">
	$.AutomLeafStart({
		leafsfolder:"images/leaf/",howmanyimgsare:8,initialleafs:10,maxYposition:-10,multiplyclick:true,multiplynumber:2,infinite:true,fallingsequence:4000
	});
	$("#botAgregar").click(function(){
		$.AutomLeafAdd({leafsfolder:"images/leaf/",add:8});
	});
{% endblock %}