<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	{% if title %}
	<title>{{title}}</title>
	{% else %}
	<title>Xinganr&middot;心肝儿网</title>
	{% endif %}

    <!-- 添加页面图标icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='heart.ico') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="xinganr,心肝儿,心肝儿网,麻麻,孕婴,育儿社区,辣妈,组群"/>
	<meta name="description" content="心肝儿网是记录您宝贝成长历程中的生活点滴的社交网站" />
	<meta name="author" content="xinganr心肝儿网">

		<!-- Add jQuery library -->
	<script src="../static/js/jquery-1.9.1.min.js" type="text/javascript"></script>

	<!-- Add bootstrap library -->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>

	<!-- Add lettering logo-->
	<script src="../static/js/jquery.lettering-0.6.1.min.js" type="text/javascript"></script>

	<!-- Add waterfall library -->
	<script src="../static/js/waterfall.js" type="text/javascript"></script>

	<!-- Add handlebars template js模板-->
	<script src="../static/js/handlebars-1.0.rc.1.js" type="text/javascript"></script>


	<!-- Add index index 本地 -->
	<link href="../static/css/index.css" rel="stylesheet" />
	
	
	<script src="../static/js/status.js" type="text/javascript"></script>


	<!-- Add ruler 页面像素尺 -->
	<!--
	<link href="http://www.zhangxinxu.com/study/css/ruler.css" rel="stylesheet" />
	<script src="http://www.zhangxinxu.com/study/js/jquery.zxxPageRuler.1.1.js" type="text/javascript"></script>
	-->

	<!-- Add mCustomScrollbar -->
	<link href="../static/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
	<script src="../static/js/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>

	<!-- Add Font Awesom图标字体 -->
	<link href="../static/css/font-awesome.min.css" rel="stylesheet" />

	<!--momentjs-->
	<script src="../static/js/moment.min.js"></script>

</head>

<body>
	<div class="header">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="logo pull-left" href="{{url_for('site.index')}}">
						<span class="char1">X</span>
					 	<span class="char2">i</span>
					 	<span class="char3">n</span>
					 	<span class="char4">g</span>
					 	<span class="char5">a</span>
					 	<span class="char6">n</span>
					 	<span class="char7">r</span>
					</a>
					<div class="pull-right">
						<div class="btn-group ">
							<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
							    上传
							    <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="icon-picture"></i> 照片</a></li>
								<li><a href="#"><i class="icon-list-alt"></i> 文字</a></li>
								<li><a href="#"><i class="icon-music"></i> 音乐</a></li>
								<li class="disabled"><a href="#"><i class="icon-film"></i> 视频</a></li>
							</ul>
						</div>
						<a href="{{url_for('user.login')}}" class="btn btn-success">登录</a>
						<a href="{{url_for('user.signup')}}" class="btn btn-warning">注册</a>
					</div>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active"><a href="{{url_for('site.index')}}"><i class="icon-home"></i> 首页</a></li>
							<li><a href="{{url_for('picture.index')}}"><i class="icon-picture"></i> 相片</a></li>
							<li><a href="{{url_for('user.status')}}"><i class="icon-bookmark"></i> 新鲜事</a></li>
							
							<li><a href="{{url_for('user.userprofile')}}"><i class="icon-heart"></i> 我的心肝儿</a></li>
							
						</ul>
						<div class="navbar-search input-append">
							<input class="span2" id="appendedInput" type="text" placeholder="搜索">
							<a type="submit" class="add-on" id="appendedInput" style="cursor:pointer"><i class="icon-search"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- header end -->



{% block content %}{% endblock %}