<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% if title %}
	<title>{{title}}</title>
	{% else %}
	<title>Xinganr&middot;心肝儿网</title>
	{% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            
            {% for message in messages %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            
        {% endif %}
	<!-- 添加页面图标icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='heart.ico') }}">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="xinganr,心肝儿,心肝儿网,社区,组群"/>
	<meta name="description" content="心肝儿网是记录您宝贝成长历程中的生活点滴的社交网站" />
	<meta name="author" content="xinganr心肝儿网">
	<!-- Add jQuery library -->
	<script src="/static/js/jquery-1.8.3.min.js" type="text/javascript"></script>

	<!-- Add bootstrap library -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- Add bootstrap hover-dropdown -->
	<script src="/static/js/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
	<!-- Add lettering logo-->
	<script src="/static/js/jquery.lettering-0.6.1.min.js" type="text/javascript"></script>

	<!-- Add waterfall library -->
	<script src="/static/js/waterfall.js" type="text/javascript"></script>

	<!-- Add index index 本地 -->
	<link href="/static/css/index.css" rel="stylesheet" />
	<script src="/static/js/my.js" type="text/javascript"></script>

	<!-- Add mCustomScrollbar diary-->
	<link href="/static/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
	<script src="/static/js/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>

	<!-- Add Font Awesom图标字体 -->
	<link href="/static/css/font-awesome.min.css" rel="stylesheet" />

	<!-- Add ckeditor diary-edit-->
	<script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>

	<!-- Add book diary -->
	<link rel="stylesheet" type="text/css" href="/static/css/book2.css" />
	<script src="/static/js/modernizr.custom.js"></script>
	
	<!--气泡提示 index -->
	<link rel="stylesheet" type="text/css" href="/static/css/grumble.css?v=1" />
	<script type="text/javascript" src="/static/js/Bubble.js"></script>
	<script type="text/javascript" src="/static/js/jquery.grumble.min.js"></script>

	<!-- 表情 -->
	<script type="text/javascript" src="/static/js/face.js" charset="utf-8"></script>

	<script type=text/javascript>
	    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>

	<!--uploadify-->
    <script type="text/javascript" src="/static/js/jquery.uploadify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/uploadify.css" />
    <script type="text/javascript" src="/static/js/swfobject.js"></script>



</head>
<body>
	<div class="header">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="logo pull-left" href="{{url_for('site.index')}}">
						<span class="char1">X</span>
					 	<span class="char2">i</span>
					 	<span class="char3">n</span>
					 	<span class="char4">g</span>
					 	<span class="char5">a</span>
					 	<span class="char6">n</span>
					 	<span class="char7">r</span>
					</a>
					<div class="pull-right">
						<ul class="nav">

							<li><a href="#" id="gift"><i class="icon-gift icon-large icon-muted"></i></a></li>
							<!-- <li><a href="#" class="logged">登录</a></li> -->
							<li class="dropdown"><a href="{{url_for('user.login')}}" class="dropdown-toggle hover" data-toggle="dropdown"><img id="customer_headimg_thumb" src="" /><lable id="customer_nickname"></lable><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="{{ url_for('user.userprofile') }}"><i class="icon-flag"></i> 我的心肝儿</a></li>
									<li><a href="/help/support"><i class="icon-envelope-alt"></i> 消息<span class="badge badge-warning pull-right">4</span></a></li>
									<li><a href="{{ url_for('user.account_edit') }}"><i class="icon-cog"></i> 设置</a></li>
									<li class="divider"></li>
									<li><a href="{{url_for('user.logout')}}"><i class="icon-off"></i> 退出</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="{{url_for('site.index')}}"><i class="icon-home"></i> 首页</a></li>
							<li class="active"><a href="{{url_for('user.news')}}"><i class="icon-globe"></i> 动态</a></li>
							<li><a href="#"><i class="icon-book"></i> 日记</a></li>
							<li><a href="#"><i class="icon-qrcode"></i> 问答</a></li>
							<li><a href="#"><i class="icon-coffee"></i> 兴趣</a></li>
						</ul>
						<div class="navbar-search input-append">
							<input type="text" class="span2" placeholder="搜索">
  							<button type="submit" class="btn"><i class="icon-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>


{% endwith %}
{% block content %}{% endblock %}