<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Xinganr&middot;心肝网</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="xinganr,心肝儿,心肝儿网,社区,组群"/>
	<meta name="description" content="心肝儿网是记录您宝贝成长历程中的生活点滴的社交网站" />
	<meta name="author" content="xinganr心肝儿网">
	<!-- Add jQuery library -->
	<script src="../static/js/jquery-1.9.1.min.js" type="text/javascript"></script>

	<!-- Add bootstrap library -->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>

	<!-- Add lettering -->
	<script src="../static/js/jquery.lettering-0.6.1.min.js" type="text/javascript"></script>

	
	

	<!-- Add index index 本地 -->
	<link href="../static/css/index.css" rel="stylesheet" />
	




	<!-- Add Font Awesom图标字体 -->
	<link href="../static/css/font-awesome.min.css" rel="stylesheet" />

    <script type="text/javascript" src="../static/js/jquery.form.js"></script>

	<!-- Add ckeditor -->
	<script type="text/javascript" src="../static/ckeditor/ckeditor.js"></script>

	<script type="text/javascript" src="../static/js/status.js"></script>
	<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
	<script type="text/javascript">{{g.sijax.get_js()|safe}}</script>

</head>

<body data-spy="scroll">
	<div class="header">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="logo pull-left" href="#">
						<span class="char1">X</span>
					 	<span class="char2">i</span>
					 	<span class="char3">n</span>
					 	<span class="char4">g</span>
					 	<span class="char5">a</span>
					 	<span class="char6">n</span>
					 	<span class="char7">r</span>
					</a>
					<div class="pull-right">
						<div class="btn-group ">
							<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
							    上传
							    <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="icon-picture"></i> 照片</a></li>
								<li><a href="#"><i class="icon-list-alt"></i> 文字</a></li>
								<li><a href="#"><i class="icon-music"></i> 音乐</a></li>
								<li class="disabled"><a href="#"><i class="icon-film"></i> 视频</a></li>
							</ul>
						</div>
						<a href="#" class="btn btn-success">登录</a>
						<a href="#" class="btn btn-warning">注册</a>
					</div>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="www.xinganr.com"><i class="icon-home"></i> 首页</a></li>
							<li><a href="www.xinganr.com/pictures.html"><i class="icon-picture"></i> 相片</a></li>
							<li><a href="#friend"><i class="icon-bookmark"></i> 我的关注</a></li>
							<li class="active"><a href="#myspace"><i class="icon-heart"></i> 我的心肝儿</a></li>
						</ul>
						<div class="navbar-search input-append">
							<input class="span2" id="appendedInput" type="text" placeholder="搜索">
  							<a type="submit" class="add-on" id="appendedInput" style="cursor:pointer"><i class="icon-search"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<div class="main">
	<div class="container">
		<form id="logimgupload" name="logimgupload" action="{{url_for('user.logimg')}}" method="post" enctype="multipart/form-data">
			<div>
				<input type="file" id="log_imgupload" name="log_imgupload" />
				<input type="submit" value="上传" />
			</div>
		</form>
		<form id="logEditor" action="{{ url_for('user.log') }}" method="post" class="diary" >
			<textarea cols="80" id="editor1" name="editor1" rows="10"></textarea>
			<script>
				CKEDITOR.replace('editor1',addUploadButton(this));
       			function addUploadButton(editor){
				    CKEDITOR.on('dialogDefinition', function( ev ){
				        var dialogName = ev.data.name;
				        var dialogDefinition = ev.data.definition;
				        if ( dialogName == 'image' ){
				            var infoTab = dialogDefinition.getContents( 'info' );
				            infoTab.add({
				                type : 'button',
				                id : 'upload_image',
				                align : 'center',
				                label : '添加文件',
				                style : 'margin-top:14px',
				                onClick : function( evt ){
				                    var thisDialog = this.getDialog();
				                    var txtUrlObj = thisDialog.getContentElement('info', 'txtUrl');
				                    var txtUrlId = txtUrlObj.getInputElement().$.id;
				                    addUploadImage(txtUrlId);
				                }
				            }, 'browse'); //place front of the browser button
				        }
				    });
				}
				 
				function addUploadImage(theURLElementId){
				    var uploadUrl = "/ckeditorupload"; //这是我自己的处理文件/图片上传的页面URL
				    var imgUrl = window.showModalDialog(uploadUrl); 
				//在upload结束后通过js代码window.returnValue=...可以将图片url返回给imgUrl变量。
				//更多window.showModalDialog的使用方法参考
				//http://blog.csdn.net/jrq/archive/2010/01/27/5259946.aspx 
				    var urlObj = document.getElementById(theURLElementId);
				    urlObj.value = imgUrl;
				    urlObj.fireEvent("onchange"); //触发url文本框的onchange事件，以便预览图片
				}

			</script>
			
			
			<div>
				<label>权限：</label>
				<select class="dropup">
					<option>公开</option>
					<option>仅朋友可见</option>
					<option>仅自己可见</option>
				</select>
				<label>作为礼物：<i class="icon-gift"></i></label>
				<label class="radio">
					<input type="radio" name="gift" id="gift" value="gift" checked>是
				</label>
				<label class="radio">
					<input type="radio" name="gift" id="nogift" value="nogift">否
				</label>
				<button type="submit" class="btn btn-primary pull-right">发表</button>
			</div>
			
		</form>
        
	</div>
</div>
</body>
</html>