{% extends "layout.html" %}

{% block content %}
<<div class="main">
    <div class="container">
       
        <div class="row-fluid">
            <div class="span9"> 
                <div id="signup">
                    <h1>欢迎来到心肝儿</h1>
                    <div class="grid-16-8 clearfix">

                        <div class="article">

                            <form action="{{ url_for('user.login') }}" name="login" method="post">
                                {{form.csrf_token}}
               
                                <!--
                                <div style="display:none;">
                                    <input type="hidden" name="source" value="simple"/>
                                    <input type="hidden" name="redir" value=""/>
                                    <!--<img src="https://www.douban.com/pics/blank.gif"   onload="loadTestImage('https://www.douban.com/accounts/register')"/> 
                                </div>
                                 -->
                                <!--{{ form.hidden_tag() }}-->
                                
                                <div class="item extra-tips">
                                    <label>邮箱</label>
                                    <input id="email" name="email" type="text" class="basic-input" maxlength="60" tabindex="1" value=""/>
                                </div>
                                
                                <div class="item extra-tips">
                                    <label>密码</label>
                                    <input id="password" name="password" type="password" class="basic-input" tabindex="2" maxlength="20"/>
                                </div>
                                <div class="item-submit">
                                    <label>&nbsp;</label>
                                    <input type="submit" value="登录"  id="button" class="btn btn-primary" tabindex="3"/>
                                </div>
                                
                            </form>
                            <div class="item-wander">
                                   
                                    <label>&nbsp;</label>
                                    <a href="{{url_for('site.index')}}" class="btn btn-success" tabindex="4">先随便逛逛</a>
                                    <!--<input type="submit" value="先随便逛逛"  id="button" class="btn btn-primary" tabindex="4"/> -->
                            </div>
                        </div>

{% endblock %}