{% extends "layout.html" %}

{% block content %}
<div class="main">
		<div class="container">
			<div class="row-fluid">
				<div class="span4">
					<div class="login-ex">
						<div>你还可以用第三方帐号登录</div>
						<a href="#" class="login-sina">
							<img src="../static/images/sina.png" alt=""><span>新浪微博登录</span>
						</a>
						<a href="#" class="login-douban">
							<img src="../static/images/dou.png" alt=""><span>豆瓣账号登录</span>
						</a>
						<a href="#" class="login-renren">
							<img src="../static/images/renren.png" alt=""><span>人人账号登录</span>
						</a>
						<div><span>还没有帐号？</span><a href="{{url_for('user.signup')}}">马上注册</a></div>
					</div>
				</div>
				<div class="span8">
					<div class="login">
						<h3>欢迎登录心肝儿</h3>
						<div class="alert alert-error">
							<a class="close" data-dismiss="alert" href="#">×</a>邮箱或密码错误!
						</div>
						<form action="{{ url_for('user.login') }}" name="login" method="post">
                            {{form.csrf_token}}
							<input type="text" id="email" name="email" placeholder="邮箱" class="input-xlarge">
							<input type="password" id="password" name="password" placeholder="密码" class="input-xlarge">
							<label class="checkbox"> 
								<input type="checkbox" checked>下次自动登录
							</label>
							<button type="submit" class="btn btn-success">登录</button>
							<a class="forget" href="#">忘记密码?</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}