{% extends "layout.html" %}
{% block content %}
	<div class="main">
		<div class="container">
			<div class="row-fluid">
				<div class="span9 news">
					<span>一起来分享TA的故事</span>
					<div id="wordage" class="pull-right"></div>
					<form class="message" action="{{ url_for('user.status') }}" name="status" method="post"  enctype="multipart/form-data">
						<textarea class="area jishu" name="body"></textarea>
						<div class="replay-footer">
							<a href="javascript:void(0)" class="face"><span>表情</span></a>
							<a href="" id="status_pic"><i class="icon-picture icon-large"></i> <span>图片</span></a>
							<input title="上传照片" id="statusupimg" name="statusupimg" type="file" style="visibility:visible;width:10px;height:10px" />
							<a id="upload_link" href="javascript:$('#statusupimg').uploadify('upload','*')">上传</a>
							
							<a href="javascript:void(0)"><i class="icon-film icon-large"></i> 视频</a>
							<a href="javascript:void(0)" class="topic"><i class="icon-leaf icon-large"></i> 话题</a>
							<a href="javascript:void(0)"><i class="icon-pencil icon-large"></i> 写日记</a>
							
						    
							<button type="submit" class="btn btn-danger pull-right">发布</button>
							<div class="share-set pull-right">
								<a class="sina-off" href="javascript:void(0)"></a>
								<a class="douban-off" href="javascript:void(0)" ></a>
								<a class="renren-off" href="javascript:void(0)" ></a>
								<a class="tencent-off" href="javascript:void(0)" ></a>
							</div>
							
						</div>
					</form>
					<!-- <input type="text" class="pull-right form-control" placeholder="" style="width:200px;"> -->
					<!-- 没用 -->
					<div id="Zones"></div>

					<ul class="nav nav-tabs">
						<li class="active"><a href="#">全部</a></li>
						<li><a href="#">我关注的</a></li>
					</ul>

					{% for status in statuses.items %}
				
						<div class="state">
								<div class="media">
									<div class="poper">
								<a href="#" class="pull-left">
									<img class="media-object" src="../static/headicon/{{status.author.nickname}}" alt="" width="60" height="60">
								</a>
								<!-- tips -->
								<div class="pop">
									<a href="#" class="pull-left"><img src="../static/headicon/{{status.author.nickname}}" alt="" width="40" height="40"></a>
									<a href="#">{{status.author.nickname}}</a>
									<div class="child">
										<!-- <span class="sexg">♀3岁</span> -->
										<span class="sexb">♂5岁</span>
										<span class="constellation"><img src="../static/images/天平.JPG" title="天平座" width="25" height="22"></span>
									</div>
									<div class="info">
										<a href="javascript:void(0)" class="attention btn btn-mini btn-success">
											<i class="icon-plus"> 关注</i>
										</a>
										<a href="javascript:void(0)" class="attention-suc btn btn-mini" style="display:none;">
											<i class="icon-ok">已关注</i>
											<i class="icon-minus" style="display:none;"> 取消</i>
										</a>
										<a href="#">关注</a> <span>10</span>
										<span>|</span>
										<a href="#">粉丝</a> <span>15</span>
										<span>|</span>
										<a href="#">礼物</a> <span>27</span>
									</div>
									<div class="sign">签名：<span>这家伙很懒，还没有写简介</span></div>
								</div>
							</div>

						<div class="media-body">
								<h4 class="media-heading">
									<a href="#">{{status.author.nickname}}</a>
									<a href="javascript:void(0)" data-toggle="tooltip" title data-original-title="加关注"><i class="icon-plus-sign-alt"></i></a>
									<span class="timestamp pull-right">{{status.time}}</span>
								</h4>
								<span>
									{{status.body}}
								</span>
								<ul class="thumbnails">
									<li class="span3">
										<a href="../static/images/6597509571308288317.jpg" class="thumbnail"><img src="" alt="" style="width:135px;height:145px;"></a>
									</li>
									<li class="span3">
										<a href="../static/images/cover.jpg" class="thumbnail"><img src="" alt="" style="width:135px;height:145px;"></a>
									</li>
									<li class="span3">
										<a href="../static/images/bob-marley.png" class="thumbnail"><img src="" alt="" style="width:135px;height:145px;"></a>
									</li>
									<li class="span3">
										<a href="../static/images/cover.jpg" class="thumbnail"><img src="" alt="" style="width:135px;height:145px;"></a>
									</li>
								</ul>
								<h6 class="media-footer ico">
									<i class="icon-tag"></i>
									<span><a href="#" class="under">哈哈</a></span>
									<span><a href="#" class="under">搞怪</a></span>
									<span><a href="#" class="under">卖萌</a></span>
									<a href="javascript:void(0)" class="nounder pull-right heart" data-toggle="tooltip" title data-original-title="喜欢就收藏吧">
										<i class="icon-heart-empty icon-large"></i>
										<i class="icon-heart icon-large" style="display:none;color:#f50f43;"></i> 4
									</a>
									<span class="pull-right">|</span>
									<a href="javascript:void(0)" class="nounder pull-right com" data-toggle="tooltip" title data-original-title="我也说两句"><i class="icon-comments-alt"></i> 5</a>
									<span class="pull-right">|</span>
									<a href="javascript:void(0)" class="nounder pull-right sha" data-toggle="tooltip" title data-original-title="一起来分享"><i class="icon-share"></i> 22</a>
								</h6>
								<div class="share">
									<form class="replay" action="">
										<textarea class="pub-area" name="" placeholder="有什么感想，你也来说说吧！"></textarea>
										<div class="replay-footer">
											<button type="submit" class="btn btn-mini btn-danger pull-right">分享</button>
											<div class="share-set pull-right">
												<a class="sina-off" href="javascript:void(0)"></a>
												<a class="douban-off" href="javascript:void(0)"></a>
												<a class="renren-off" href="javascript:void(0)"></a>
												<a class="tencent-off" href="javascript:void(0)"></a>
											</div>
										</div>
									</form>
								</div>
								<div class="news-comments">
									<form class="replay" action="">
										<textarea class="pub-area" name="" placeholder="有什么感想，你也来说说吧！"></textarea>
										<div class="replay-footer">
											<a href="javascript:void(0)" class="face"><span>表情</span></a>
											<button type="submit" class="btn btn-mini btn-danger pull-right">评论</button>
										</div>
									</form>
									<div class="media">
										<div class="poper">
											<a href="#" class="pull-left"><img class="media-object" src="../static/images/thumb.jpg" alt="" width="40" height="40"></a>			
										</div>
										<div class="media-body">
											<span><a href="">潘多拉</a></span>:222222222Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,Cras sit 
											<h6 class="media-footer">
												<span class="timestamp">2013-07-19 11:19</span>
												<a class="pull-right">回复</a>
											</h6>
											<form class="replay-replay" action="">
												<textarea class="re-area" name="" placeholder="有什么感想，你也来说说吧！"></textarea>
												<div class="replay-footer">
													<a href="javascript:void(0)" class="face"><span>表情</span></a>
													<button type="submit" class="btn btn-mini btn-danger pull-right">评论</button>
												</div>
											</form>
											
											<div class="media">
												<div class="poper">
													<a href="#" class="pull-left"><img class="media-object" src="../static/images/thumb.jpg" alt="" width="40" height="40"></a>
												</div>
												<div class="media-body">
													<span><a href="#">雨果</a></span>:3333Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque 
													<h6 class="media-footer">
														<span class="timestamp">2013-07-19 11:19</span>
														<a class="pull-right">回复</a>
													</h6>
													<form class="replay-replay" action="">
														<textarea class="re-area" name="" placeholder="有什么感想，你也来说说吧！"></textarea>
														<div class="replay-footer">
															<a href="javascript:void(0)" class="face"><span>表情</span></a>
															<button type="submit" class="btn btn-mini btn-danger pull-right">评论</button>
														</div>
													</form>
												</div>
											</div>

											<div class="media">
												<div class="poper">
													<a href="#" class="pull-left"><img class="media-object" src="../static/images/thumb.jpg" alt="" width="40" height="40"></a>
												</div>
												<div class="media-body">
													<span><a href="">潘多拉</a></span><span>回复雨果</span>:Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,Cras sit amet nibh libero, in gravi
													<h6 class="media-footer">
														<span class="timestamp">2013-07-19 11:19</span>
														<a class="pull-right">回复</a>
													</h6>
													<form class="replay-replay" action="">
														<textarea class="re-area" name="" placeholder="有什么感想，你也来说说吧！"></textarea>
														<div class="replay-footer">
															<a href="javascript:void(0)" class="face"><span>表情</span></a>
															<button type="submit" class="btn btn-mini btn-danger pull-right">评论</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
									<div class="media">
										<div class="poper">
											<a href="#" class="pull-left"><img class="media-object" src="../static/images/thumb.jpg" alt="" width="40" height="40"></a>
										</div>
										<div class="media-body">
											<span><a href="">潘多拉盒子</a></span>:666Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin 
											<h6 class="media-footer">
												<span class="timestamp">2013-07-19 11:19</span>
												<a class="pull-right">回复</a>
											</h6>
											<form class="replay-replay" action="">
												<textarea class="re-area" name="" placeholder="有什么感想，你也来说说吧！"></textarea>
												<div class="replay-footer">
													<a href="javascript:void(0)" class="face"><span>表情</span></a>
													<button type="submit" class="btn btn-mini btn-danger pull-right">评论</button>
												</div>
											</form>
										</div>
									</div>
									<div class="media">
										<div class="poper">
											<a href="#" class="pull-left"><img class="media-object" src="../static/images/thumb.jpg" alt="" width="40" height="40"></a>
										</div>
										<div class="media-body">
											<span><a href="">潘多拉盒子</a></span>:666Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum inCras purus odio, vestibulum in
											<h6 class="media-footer">
												<span class="timestamp">2013-07-19 11:19</span>
												<a class="pull-right">回复</a>
											</h6>
											<form class="replay-replay" action="">
												<textarea class="re-area" name="" placeholder="有什么感想，你也来说说吧！"></textarea>
												<div class="replay-footer">
													<a href="javascript:void(0)" class="face"><span>表情</span></a>
													<button type="submit" class="btn btn-mini btn-danger pull-right">评论</button>
												</div>
											</form>
										</div>
									</div>
								</div>
						</div>
						       
						
                    {% endfor %}

					
					


				</div>

				
				<!-- <div class="aside span3">
					<div class="flash">
							            <ul>
							              <li><a href="#"><img alt="美女" src="../static/images/126.jpg" height="220px"></a></li>
							              <li><a href="#"><img alt="美女" src="../static/images/12456.jpg" height="220"></a></li>
							              <li><a href="#"><img alt="美女" src="../static/images/mmexport1369607350257.jpg" height="220"></a></li>
							            </ul>
							        </div>
							        <div class="wrapper">
				        <div class="sidebar">
				            <ul>
				              <li class="ur"><a href="#"><img src="../static/images/thumb.jpg" alt=""><span>風の少女風の少女風の少女</span>
				              	<p>等级：15级</p></a>
				              </li>
				              <li><a href="#"><img src="../static/images/gift.png" alt="">给未来的他</a></li>
				            </ul>
				        </div>
						<div class="sidebar">
				            <ul class="fans">
				              <li><a href="#"><i class="icon-bookmark"></i> 关 注<span>15</span></a></li>
				              <li><a href="#"><i class="icon-heart"></i>喜 欢<span>215</span></a></li>
				              <li><a href="#"><i class="icon-headphones"></i>粉 丝<span>5</span></a></li>
				              <li><a href="#">Link</a></li>
				              <li><a href="#">Link</a></li>
				            </ul>
					          			</div>
				          			</div>
				</div> -->
			</div>
		</div>
	</div>	
	
	
<script type="text/javascript">
	$(function (){
		$("a.face").facebox();
		//Demo测试
	/*	$('#Smohan_Showface').click(function() {
			 $('#Zones').fadeIn(360);
			 $('#Zones').html($('#Smohan_text').val());
			 $('#Zones').replaceface($('#Zones').html());//替换表情
		});*/

	});


 </script>

{% endblock %}