{% extends "layout.html" %}

{% block content %}
<div class="main">
		<div class="container">
			<div class="row-fluid">
				<div class="span4">
					<div class="login-ex">
						<div>你还可以用第三方帐号登录</div>
						<a href="#" class="login-sina">
							<img src="../static/images/sina.png" alt=""><span>新浪微博登录</span>
						</a>
						<a href="#" class="login-douban">
							<img src="../static/images/dou.png" alt=""><span>豆瓣账号登录</span>
						</a>
						<a href="#" class="login-renren">
							<img src="../static/images/renren.png" alt=""><span>人人账号登录</span>
						</a>
						<div><span>已有帐号？</span><a href="#">马上登录</a></div>
					</div>
				</div>
				<div class="span8">
					<div class="login">
						<h3>欢迎加入心肝儿</h3>
						<form action="{{ url_for('user.signup') }}" name="signup" method="post" enctype="multipart/form-data">
							<input type="text" id="nickname" name="nickname" placeholder="昵称" class="input-xlarge" maxlength="15">
							<div class="item extra-tips">
                                <input id="headimg" name="headimg" type="file" class="basic-input" tabindex="5" placeholder="请上传头像"/>
                            </div>
                            <!--
                            <div class="item yanzheng">
                            
                            	<p>
                            		<img src="../static/yanzheng.jpeg" class="yanzheng-img">
                            		<span class="tips">
                            			看不清?
                            			<a href="#" id="resend">换一个</a>
                            		</span>
                            	</p>
                            	<input type="text" name="yanzheng-text" class="yanzheng-text" tabindex="3" maxlength="10"/>
                            </div>
                             -->
							<input type="text" id="email" name="email" placeholder="常用邮箱" class="input-xlarge">
							<input type="password" id="password" name="password" placeholder="设置密码" class="input-xlarge">
							
							<button type="submit" class="btn btn-success">注册</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}