{% extends "layout.html" %}

{% block content %}
<<div class="main">
    <div class="container">
       
        <div class="row-fluid">
            <div class="span9"> 
                <div id="signup">
                    <h1>欢迎加入心肝儿</h1>

                    <div class="grid-16-8 clearfix">

                        <div class="article">

                            <form action="{{ url_for('user.signup') }}" name="signup" method="post" enctype="multipart/form-data">

                                <div style="display:none;">
                                    <input type="hidden" name="source" value="simple"/>
                                    <input type="hidden" name="redir" value=""/>
                                    <!--<img src="https://www.douban.com/pics/blank.gif"   onload="loadTestImage('https://www.douban.com/accounts/register')"/> -->
                                </div>
                                <div class="item extra-tips">
                                    <label>昵称</label>
                                    <input id="nickname" name="nickname" type="text" class="basic-input" maxlength="15" tabindex="1" value=""/>
                                </div>
                                <!--<div class="suggestion">
                                    <span class="tips">第一印象很重要，起个响亮的名号吧</span>
                                </div>
                                -->
                                <div class="item extra-tips">
                                    <label>邮箱</label>
                                    <input id="email" name="email" type="text" class="basic-input" maxlength="60" tabindex="2" value=""/>
                                </div>
                                <div class="suggestion">
                                    <div id="email_suggestion"></div>
                                </div>
                                <div class="item extra-tips">
                                    <label>密码</label>
                                    <input id="password" name="password" type="password" class="basic-input" tabindex="3" maxlength="20"/>
                                </div>
                                
                                <div class="item extra-tips">
                                    <label>确认密码</label>
                                    <input id="password" name="confirm_password" type="password" class="basic-input" tabindex="4" maxlength="20"/>
                                </div>
                                
                                <div class="item extra-tips">
                                    <label>headimg</label>
                                    <input id="headimg" name="headimg" type="file" class="basic-input" tabindex="5" />
                                </div>

                                <div class="item loc-item">
                                    <label>常居地</label>
                                    <span class="loc">
                                        <em id="location">心肝儿猜你在<strong>西安</strong>，没猜对？</em> <a href="#" class="a-btn-location" id="edloc">手动选择</a>
                                    </span>

                                    <input type="hidden" name="loc" value="118371"/>
                                </div>

                                <div class="item captcha-item">
                                    <label>验证码</label>
                                    <p><img src="http://www.douban.com/misc/captcha?id=d1CraRsJt2zVsbXyvToYgsBa&amp;size=s" class="captcha-img"/><span class="tips">看不清？<a href="" id="cap_resend">换一个</a></span></p>
                                    
                                    <input type="text" name="captcha-solution" class="basic-input captcha" id="captcha" tabindex="4" maxlength="10"/>
                                    <input type="hidden" value="d1CraRsJt2zVsbXyvToYgsBa" name="captcha-id">

                                    <span class="validate-error" id="frm_error"></span>
                                </div>

                                <div class="item">
                                    <p class="agreement">
                                        <label for="agreement" class="agreement-label">
                                            <input type="checkbox" id="agreement" name="form_agreement" tabindex/>我已经认真阅读并同意心肝儿的《<a target="_blank" href="/about?policy=agreement">使用协议</a>》。
                                        </label>
                                    </p>
                                </div>
                                <div class="item-submit">
                                    <label>&nbsp;</label>
                                    <input type="submit" value="注册"  id="button" class="btn-submit disabled" tabindex="6" title="阅读并同意心肝儿的《使用协议》方可注册。"/>
                                </div>
                            </form>
                        </div>
                        <div class="aside">
                            <p class="pl">&gt;&nbsp;已经拥有心肝儿帐号? <a rel="nofollow" href="{{ url_for('user.login') }}">直接登录</a></p>
                        </div>
                        <div class="extra">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}