{% extends "status.html" %}
{% block content %}
<div class="span9">
    <table class="table table-hover">
    <tr>
        
            
            <div class="model">
                        <img src="../static/images/clip.png" alt="">
                        <div class="headpicture">
                            <a href="{{url_for('user.userprofile')}}"><img src="../static/images/me.png" alt="" width="60"></a>
                        </div>
                        <div class="paper">
                            <div class="above">
                                <a href="{{url_for('user.userprofile')}}"><i class="icon-user"></i>{{nick}}</a>
                                <a href="#" title="加关注"><i class="icon-plus"></i></a>
                                <a href="#" title="发信息"><i class="icon-envelope"></i></a>
                            </div>
                            <div class="middle">
                                <p><strong><span id="staid">{{status.body}}</span></strong></p>
                            </div>
                            <div class="under">
                                <span class="pull-left">
                                    <i class="icon-tags"></i>
                                    <a href="#">麦萌</a>
                                    <a href="#">搞怪</a>
                                    <a href="#">哈哈</a>
                                </span>
                                <span class="pull-right">
                                    <a href="javascript:void(0);"><i class="icon-thumbs-up"></i>热度(21)</a>
                                    <a href="" class="comment"><i class="icon-comment"></i>评论(325)</a>
                                    <a href="javascript:void(0);"><i class="icon-share"></i>转载</a>
                                    <a href="javascript:void(0);" class="heart"><img src="../static/images/gray-heart.png" class="green" alt="喜欢就心我吧" title="喜欢就❤我吧"><img src="../static/images/red-heart.png" style="display:none" class="red" alt="取消喜欢" title="取消喜欢"></a>
                                </span>
                            </div>
                            <div class="comments">
                                <form class="form-inline" action="">    
                                    <input type="text" class="input-edit pull-left span9" size="120" placeholder="说点什么。。">  
                                    <button type="submit" class="btn btn-success" type="button">发 表</button>
                                </form>
                                <div class="content">
                                    <div class="headpictureLittle">
                                        <a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
                                    </div>
                                    <div class="replay">
                                        <div class="word">
                                            <a href="#">{{nick}}:</a>
                                            <span>而易见的是纪录拍摄纪录拍摄于此同时我分发见的是纪录拍纪录拍摄于此同时我分纪录拍摄纪录拍摄于此纪录拍摄纪录拍摄此纪录拍摄纪录拍摄此纪录拍摄纪录拍摄于此纪录拍摄纪录拍摄于此发拍摄同时我于此同时我分发</span>
                                        </div>
                                        <div class="answer">
                                            <small>2013-07-19 11:19</small>
                                            <a href="#" type="button" class="pull-right">回复</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="headpictureLittle">
                                        <a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
                                    </div>
                                    <div class="replay">
                                        <div class="word">
                                            <a href="#">{{nick}}:</a>
                                            <span>而易见的是纪录拍摄纪录拍摄于此同时我分发见的是纪录拍纪录拍摄于此同时我分纪录拍摄纪录拍摄于此纪录拍摄纪录拍</span>
                                        </div>
                                        <div class="answer">
                                            <small>2013-07-19 11:19</small>
                                            <a href="#" type="button" class="pull-right">回复</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="headpictureLittle">
                                        <a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
                                    </div>
                                    <div class="replay">
                                        <div class="word">
                                            <a href="#">{{nick}}:</a>
                                            <span>而易见的是纪录拍摄纪录拍摄于此同时我分</span>
                                        </div>
                                        <div class="answer">
                                            <small>2013-07-19 11:19</small>
                                            <a href="#" type="button" class="pull-right">回复</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="headpictureLittle">
                                        <a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
                                    </div>
                                    <div class="replay">
                                        <div class="word">
                                            <a href="#">{{nick}}:</a>
                                            <span>而易见的是纪录拍摄纪录</span>
                                        </div>
                                        <div class="answer">
                                            <small>2013-07-19 11:19</small>
                                            <a href="#" type="button" class="pull-right">回复</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="headpictureLittle">
                                        <a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
                                    </div>
                                    <div class="replay">
                                        <div class="word">
                                            <a href="#">{{nick}}:</a>
                                            <span>而易见的是纪录拍摄纪录</span>
                                        </div>
                                        <div class="answer">
                                            <small>2013-07-19 11:19</small>
                                            <a href="#" type="button" class="pull-right">回复</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="headpictureLittle">
                                        <a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
                                    </div>
                                    <div class="replay">
                                        <div class="word">
                                            <a href="#">{{nick}}:</a>
                                            <span>而易见的是纪录拍摄纪录</span>
                                        </div>
                                        <div class="answer">
                                            <small>2013-07-19 11:19</small>
                                            <a href="#" type="button" class="pull-right">回复</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="headpictureLittle">
                                        <a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
                                    </div>
                                    <div class="replay">
                                        <div class="word">
                                            <a href="#">{{nick}}:</a>
                                            <span>而易见的是纪录拍摄纪录</span>
                                        </div>
                                        <div class="answer">
                                            <small>2013-07-19 11:19</small>
                                            <a href="#" type="button" class="pull-right">回复</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="headpictureLittle">
                                        <a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
                                    </div>
                                    <div class="replay">
                                        <div class="word">
                                            <a href="#">{{nick}}:</a>
                                            <span>而易见的是纪录拍摄纪录</span>
                                        </div>
                                        <div class="answer">
                                            <small>2013-07-19 11:19</small>
                                            <a href="#" type="button" class="pull-right">回复</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="headpictureLittle">
                                        <a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
                                    </div>
                                    <div class="replay">
                                        <div class="word">
                                            <a href="#">{{nick}}:</a>
                                            <span>而易见的是纪录拍摄纪录</span>
                                        </div>
                                        <div class="answer">
                                            <small>2013-07-19 11:19</small>
                                            <a href="#" type="button" class="pull-right">回复</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="headpictureLittle">
                                        <a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
                                    </div>
                                    <div class="replay">
                                        <div class="word">
                                            <a href="#">{{nick}}:</a>
                                            <span>而易见的是纪录拍摄纪录</span>
                                        </div>
                                        <div class="answer">
                                            <small>2013-07-19 11:19</small>
                                            <a href="#" type="button" class="pull-right">回复</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="more">
                                    <a href="#" id="more" style="display:block;">查看更多</a>
                                </div>
                                <div class="shouqi">
                                    <a href="#" style="display:block;"><i class="icon-chevron-up"></i> 收起</a>
                                </div>


                            </div>
                        </div>
            </div>
            
                    
    </tr>
    </table>
</div>
{% endblock %}