<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Xinganr&middot;心肝儿网</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="xinganr,心肝儿,心肝儿网,麻麻,孕婴,育儿社区,辣妈,组群"/>
	<meta name="description" content="心肝儿网是记录您宝贝成长历程中的生活点滴的社交网站" />
	<meta name="author" content="xinganr心肝儿网">
	<!-- Add jQuery library -->
	<script src="../static/js/jquery-1.9.1.min.js" type="text/javascript"></script>

	<!-- Add bootstrap library -->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>

	<!-- Add lettering logo-->
	<script src="../static/js/jquery.lettering-0.6.1.min.js" type="text/javascript"></script>

	<!-- Add waterfall library -->
	<script src="../static/js/waterfall.js" type="text/javascript"></script>

	<!-- Add handlebars template js模板-->
	<script src="../static/js/handlebars-1.0.rc.1.js" type="text/javascript"></script>
	<script src="../static/js/template.js" type="text/javascript"></script>

	<!-- Add index index 本地 -->
	<link href="../static/css/index.css" rel="stylesheet" />
	<script src="../static/js/my.js" type="text/javascript"></script>

	<!-- Add ruler 页面像素尺 -->
	<link href="http://www.zhangxinxu.com/study/css/ruler.css" rel="stylesheet" />
	<script src="http://www.zhangxinxu.com/study/js/jquery.zxxPageRuler.1.1.js" type="text/javascript"></script>

	<!-- Add mCustomScrollbar -->
	<link href="../static/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
	<script src="../static/js/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>

	<!-- Add Font Awesom图标字体 -->
	<link href="../static/css/font-awesome.min.css" rel="stylesheet" />





</head>
<body>
	<div class="header">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="logo pull-left" href="#">
						<span class="char1">X</span>
					 	<span class="char2">i</span>
					 	<span class="char3">n</span>
					 	<span class="char4">g</span>
					 	<span class="char5">a</span>
					 	<span class="char6">n</span>
					 	<span class="char7">r</span>
					</a>
					<div class="pull-right">
						<div class="btn-group ">
							<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
							    上传
							    <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="icon-picture"></i> 照片</a></li>
								<li><a href="#"><i class="icon-list-alt"></i> 文字</a></li>
								<li><a href="#"><i class="icon-music"></i> 音乐</a></li>
								<li class="disabled"><a href="#"><i class="icon-film"></i> 视频</a></li>
							</ul>
						</div>
						<a href="#" class="btn btn-success">登录</a>
						<a href="#" class="btn btn-warning">注册</a>
					</div>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active"><a href="www.xinganr.com"><i class="icon-home"></i> 首页</a></li>
							<li><a href="www.xinganr.com/pictures.html"><i class="icon-picture"></i> 相片</a></li>
							<li><a href="#friend"><i class="icon-bookmark"></i> 我的关注</a></li>
							<li><a href="#myspace"><i class="icon-heart"></i> 我的心肝儿</a></li>
						</ul>
						<form id="search-form">
							<input id="search-query" type="text" class="span2" placeholder="搜索"/>
							<input id="search-btn" type="submit" value=""/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- header end -->
	<div class="main">
		<div class="container">
			<div class="row-fluid">
				<div class="span9">
					<form class="message" action="">
						<ul>
							<li><a href="javascript:void(0);"><i class="icon-pencil"></i> 发状态</a></li>
							<li><a href="javascript:void(0);"><i class="icon-leaf"></i> 找话题</a></li>
							<li><a href="javascript:void(0);"><i class="icon-share-alt"></i> 拿分享</a></li>
						</ul>
						<textarea name="" id="" cols="30" rows="1" placeholder="你正在干嘛？"></textarea>
						<div class="publish">
							<a href="" title="上传照片"><i class="icon-camera"></i> 照片</a>
							<button type="submit" class="btn btn-primary pull-right">发布</button>
						</div>
					</form>

					<div class="model">
						<img src="../static/images/clip.png" alt="">
						<div class="headpicture">
							<a href="#"><img src="../static/images/head_128.png" alt="" width="60"></a>
						</div>
						<div class="paper">
							<div class="above">
								<span class="username"><a href="{{user.ulr}}"><i class="icon-user"></i> {{username}}</a></span>
								<a href="#" title="加关注"><i class="icon-plus"></i></a>
								<a href="#" title="发信息"><i class="icon-envelope"></i></a>
							</div>
							<div class="middle">
								<p>这里是离洞里萨湖不远的一个小村庄</p>
							</div>
							<div class="under">
								<span class="pull-left">
									<i class="icon-tags"></i>
									<a href="#">麦萌</a>
									<a href="#">搞怪</a>
									<a href="#">哈哈</a>
								</span>
								<span class="pull-right">
									<a href="javascript:void(0);"><i class="icon-thumbs-up"></i>热度(21)</a>
									<a href="" class="comment"><i class="icon-comment"></i>评论(325)</a>
									<a href="javascript:void(0);"><i class="icon-share"></i>转载</a>
									<a href="javascript:void(0);" class="heart"><img src="../static/images/gray-heart.png" class="green" alt="喜欢就心我吧" title="喜欢就❤我吧"><img src="../static/images/red-heart.png" style="display:none" class="red" alt="取消喜欢" title="取消喜欢"></a>
								</span>
							</div>
							<div class="comments">
								<form class="form-inline" action="">	
									<input type="text" class="input-edit pull-left span9" size="120" placeholder="说点什么。。">	
									<button type="submit" class="btn btn-success" type="button">发 表</button>
								</form>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录拍摄于此同时我分发见的是纪录拍纪录拍摄于此同时我分纪录拍摄纪录拍摄于此纪录拍摄纪录拍摄此纪录拍摄纪录拍摄此纪录拍摄纪录拍摄于此纪录拍摄纪录拍摄于此发拍摄同时我于此同时我分发</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录拍摄于此同时我分发见的是纪录拍纪录拍摄于此同时我分纪录拍摄纪录拍摄于此纪录拍摄纪录拍</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录拍摄于此同时我分</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="more">
									<a href="#" id="more" style="display:block;">查看更多</a>
								</div>
								<div class="shouqi">
									<a href="#" style="display:block;"><i class="icon-chevron-up"></i> 收起</a>
								</div>


							</div>
						</div>
					</div>

					<div class="model">
						<img src="../static/images/clip.png" alt="">
						<div class="headpicture">
							<a href="#"><img src="../static/images/head_128.png" alt="" width="60"></a>
						</div>
						<div class="paper">
							<div class="above">
								<span class="username"><a href="{{user.ulr}}"><i class="icon-user"></i> {{username}}</a></span>
								<a href="#" title="加关注"><i class="icon-plus"></i></a>
								<a href="#" title="发信息"><i class="icon-envelope"></i></a>
							</div>
							<div class="middle">
								<img src="../static/images/p_large_fLVx_050400006d025c73.jpg" alt="" class="imgLittle">
								<p>这里是离洞里萨湖不远的一个小村庄</p>
							</div>
							<div class="under">
								<span class="pull-left">
									<i class="icon-tag"></i>
									<a href="#">麦萌</a>
									<a href="#">搞怪</a>
									<a href="#">哈哈</a>
								</span>
								<span class="pull-right">
									<a href="javascript:void(0);"><i class="icon-thumbs-up"></i>热度(21)</a>
									<a href="" class="comment"><i class="icon-comment"></i>评论(325)</a>
									<a href="javascript:void(0);"><i class="icon-share"></i>转载</a>
									<a href="javascript:void(0);" class="heart"><img src="../static/images/gray-heart.png" class="green" alt="喜欢就心我吧" title="喜欢就❤我吧"><img src="../static/images/red-heart.png" style="display:none" class="red" alt="取消喜欢" title="取消喜欢"></a>
								</span>
							</div>
							<div class="comments">
								<form class="form-inline" action="">	
									<input type="text" class="input-edit pull-left span9" size="120" placeholder="说点什么。。">	
									<button type="submit" class="btn btn-success" type="button">发 表</button>
								</form>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录拍摄于此同时我分发见的是纪录拍纪录拍摄于此同时我分纪录拍摄纪录拍摄于此纪录拍摄纪录拍摄此纪录拍摄纪录拍摄此纪录拍摄纪录拍摄于此纪录拍摄纪录拍摄于此发拍摄同时我于此同时我分发</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录拍摄于此同时我分发见的是纪录拍纪录拍摄于此同时我分纪录拍摄纪录拍摄于此纪录拍摄纪录拍</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录拍摄于此同时我分</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href=""><img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="replay">
										<div class="word">
											<a href="#">{{username}}:</a>
											<span>而易见的是纪录拍摄纪录</span>
										</div>
										<div class="answer">
											<small>2013-07-19 11:19</small>
											<a href="#" type="button" class="pull-right">回复</a>
										</div>
									</div>
								</div>
								<div class="more">
									<a href="#" id="more" style="display:block;">查看更多</a>
								</div>
								<div class="shouqi">
									<a href="#" style="display:block;"><i class="icon-chevron-up"></i> 收起</a>
								</div>


							</div>
						</div>
					</div>
					
					<div class="model">
						<img src="../static/images/pin.png" alt="">
						<div class="headpicture">
							<a href="#"><img src="../static/images/head_128.png" alt="" width="60"></a>
						</div>
						<div class="paper">
							<div class="above">
								<span class="username"><a href="{{user.ulr}}"><i class="icon-user"></i> {{username}}</a></span>
								<a href="#" title="加关注"><i class="icon-plus"></i></a>
								<a href="#" title="发信息"><i class="icon-envelope"></i></a>
							</div>
							<div class="middle">
								<img src="../static/images/p_large_q0ar_050a00006cea5c73.jpg" alt="" class="imgLittle">
								<p>这里是离洞里萨湖不远的一个小村庄，我想平时没有人会来到这里。 我来这里的目的显而易见的是纪录拍摄，于此同时我分发了不少物资和学习用具给这里的孩子。 离这里两公里外的地区是景区</p>
							</div>
							<div class="under">
								<span class="pull-left">
									<i class="icon-tag"></i>
									<a href="#">麦萌</a>
									<a href="#">搞怪</a>
									<a href="#">哈哈</a>
								</span>
								<span class="pull-right">
									<a href="#"><i class="icon-thumbs-up"></i>热度(21)</a>
									<a href="#" class="comment"><i class="icon-comment"></i>评论(325)</a>
									<a href="#"><i class="icon-share"></i>转载</a>
									<a href="#" class="heart"><img src="../static/images/gray-heart.png" class="green" alt="喜欢就心我吧" title="喜欢就❤我吧"><img src="../static/images/red-heart.png" style="display:none" class="red" alt="取消喜欢" title="取消喜欢"></a>
								</span>
							</div>
							<div class="comments">
								<form class="form-inline" action="">	
									<input type="text" class="input-edit pull-left span9" size="120" placeholder="说点什么。。">	
									<button type="submit" class="btn btn-success" type="button">发 表</button>
								</form>
								<div class="content">
									<div class="headpictureLittle">
										<a href="">
											<img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="word">
										<a href="#">{{username}}</a>
										<span>{{content}}</span>
									</div>
									<!-- ？？回复怎么在input里面显示回复谁？？	 -->
									<div class="answer">
										<a href="#" type="button">回复</a>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href="">
											<img src="../static/images/p_large_7jNW_29a6000032971260.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="word">
										<a href="">{{username}}</a>
										{{content}}
									</div>
									<!-- ？？回复怎么在input里面显示回复谁？？	 -->
									<div class="answer">
										<a href="#" type="button">回复</a>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href="">
											<img src="../static/images/p_large_7jNW_29a6000032971260.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="word">
										<a href="#">{{username}}</a>
										<span>{{content}}</span>
									</div>
									<!-- ？？回复怎么在input里面显示回复谁？？	 -->
									<div class="answer">
										<a href="#" type="button">回复</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="model">
						<img src="../static/images/pin.png" alt="">
						<div class="headpicture">
							<a href="#"><img src="../static/images/head_128.png" alt="" width="60"></a>
						</div>
						<div class="paper">
							<div class="above">
								<span class="username"><a href="{{user.ulr}}"><i class="icon-user"></i> {{username}}</a></span>
								<a href="#" title="加关注"><i class="icon-plus"></i></a>
								<a href="#" title="发信息"><i class="icon-envelope"></i></a>
							</div>
							<div class="middle">
								<img src="../static/images/p_large_K95i_04dc00006d065c73.jpg" alt="" class="imgLittle">
								<p>这里是离洞里萨湖不远的一个小村庄，我想平时没有人会来到这里。 我来这里的目的显而易见的是纪录拍摄，于此同时我分发了不少物资和学习用具给这里的孩子。 离这里两公里外的地区是景区</p>
							</div>
							<div class="under">
								<span class="pull-left">
									<i class="icon-tag"></i>
									<a href="#">麦萌</a>
									<a href="#">搞怪</a>
									<a href="#">哈哈</a>
								</span>
								<span class="pull-right">
									<a href="#"><i class="icon-thumbs-up"></i>热度(21)</a>
									<a href="#" class="comment"><i class="icon-comment"></i>评论(325)</a>
									<a href="#"><i class="icon-share"></i>转载</a>
									<a href="#" class="heart"><img src="../static/images/gray-heart.png" class="green" alt="喜欢就心我吧" title="喜欢就❤我吧"><img src="../static/images/red-heart.png" style="display:none" class="red" alt="取消喜欢" title="取消喜欢"></a>
								</span>
							</div>
							<div class="comments">
								<form class="form-inline" action="">	
									<input type="text" class="input-edit pull-left span9" size="120" placeholder="说点什么。。">	
									<button type="submit" class="btn btn-success" type="button">发 表</button>
								</form>
								<div class="content">
									<div class="headpictureLittle">
										<a href="">
											<img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="word">
										<a href="#">{{username}}</a>
										<span>{{content}}</span>
									</div>
									<!-- ？？回复怎么在input里面显示回复谁？？	 -->
									<div class="answer">
										<a href="#" type="button">回复</a>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href="">
											<img src="../static/images/p_large_7jNW_29a6000032971260.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="word">
										<a href="">{{username}}</a>
										{{content}}
									</div>
									<!-- ？？回复怎么在input里面显示回复谁？？	 -->
									<div class="answer">
										<a href="#" type="button">回复</a>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href="">
											<img src="../static/images/p_large_7jNW_29a6000032971260.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="word">
										<a href="#">{{username}}</a>
										<span>{{content}}</span>
									</div>
									<!-- ？？回复怎么在input里面显示回复谁？？	 -->
									<div class="answer">
										<a href="#" type="button">回复</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="model">
						<img src="../static/images/pin.png" alt="">
						<div class="headpicture">
							<a href="#"><img src="../static/images/head_128.png" alt="" width="60"></a>
						</div>
						<div class="paper">
							<div class="above">
								<span class="username"><a href="{{user.ulr}}"><i class="icon-user"></i> {{username}}</a></span>
								<a href="#" title="加关注"><i class="icon-plus"></i></a>
								<a href="#" title="发信息"><i class="icon-envelope"></i></a>
							</div>
							<div class="middle">
								<img src="../static/images/p_large_e4ER_580600024c1b5c72.jpg" alt="" class="imgLittle">
								<p>这里是离洞里萨湖不远的一个小村庄，我想平时没有人会来到这里。 我来这里的目的显而易见的是纪录拍摄，于此同时我分发了不少物资和学习用具给这里的孩子。 离这里两公里外的地区是景区</p>
							</div>
							<div class="under">
								<span class="pull-left">
									<i class="icon-tag"></i>
									<a href="#">麦萌</a>
									<a href="#">搞怪</a>
									<a href="#">哈哈</a>
								</span>
								<span class="pull-right">
									<a href="#"><i class="icon-thumbs-up"></i>热度(21)</a>
									<a href="#" class="comment"><i class="icon-comment"></i>评论(325)</a>
									<a href="#"><i class="icon-share"></i>转载</a>
									<a href="#" class="heart"><img src="../static/images/gray-heart.png" class="green" alt="喜欢就心我吧" title="喜欢就❤我吧"><img src="../static/images/red-heart.png" style="display:none" class="red" alt="取消喜欢" title="取消喜欢"></a>
								</span>
							</div>
							<div class="comments">
								<form class="form-inline" action="">	
									<input type="text" class="input-edit pull-left span9" size="120" placeholder="说点什么。。">	
									<button type="submit" class="btn btn-success" type="button">发 表</button>
								</form>
								<div class="content">
									<div class="headpictureLittle">
										<a href="">
											<img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="word">
										<a href="#">{{username}}</a>
										<span>{{content}}</span>
									</div>
									<!-- ？？回复怎么在input里面显示回复谁？？	 -->
									<div class="answer">
										<a href="#" type="button">回复</a>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href="">
											<img src="../static/images/p_large_7jNW_29a6000032971260.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="word">
										<a href="">{{username}}</a>
										{{content}}
									</div>
									<!-- ？？回复怎么在input里面显示回复谁？？	 -->
									<div class="answer">
										<a href="#" type="button">回复</a>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href="">
											<img src="../static/images/p_large_7jNW_29a6000032971260.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="word">
										<a href="#">{{username}}</a>
										<span>{{content}}</span>
									</div>
									<!-- ？？回复怎么在input里面显示回复谁？？	 -->
									<div class="answer">
										<a href="#" type="button">回复</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="model">
						<img src="../static/images/pin.png" alt="">
						<div class="headpicture">
							<a href="#"><img src="../static/images/head_128.png" alt="" width="60"></a>
						</div>
						<div class="paper">
							<div class="above">
								<span class="username"><a href="{{user.ulr}}"><i class="icon-user"></i> {{username}}</a></span>
								<a href="#" title="加关注"><i class="icon-plus"></i></a>
								<a href="#" title="发信息"><i class="icon-envelope"></i></a>
							</div>
							<div class="middle">
								<img src="../static/images/p_large_fLVx_050400006d025c73.jpg" alt="" class="imgLittle">
								<p>这里是离洞里萨湖不远的一个小村庄，我想平时没有人会来到这里。 我来这里的目的显而易见的是纪录拍摄，于此同时我分发了不少物资和学习用具给这里的孩子。 离这里两公里外的地区是景区</p>
							</div>
							<div class="under">
								<span class="pull-left">
									<i class="icon-tag"></i>
									<a href="#">麦萌</a>
									<a href="#">搞怪</a>
									<a href="#">哈哈</a>
								</span>
								<span class="pull-right">
									<a href="#"><i class="icon-thumbs-up"></i>热度(21)</a>
									<a href="#" class="comment"><i class="icon-comment"></i>评论(325)</a>
									<a href="#"><i class="icon-share"></i>转载</a>
									<a href="#" class="heart"><img src="../static/images/gray-heart.png" class="green" alt="喜欢就心我吧" title="喜欢就❤我吧"><img src="../static/images/red-heart.png" style="display:none" class="red" alt="取消喜欢" title="取消喜欢"></a>
								</span>
							</div>
							<div class="comments">
								<form class="form-inline" action="">	
									<input type="text" class="input-edit pull-left span9" size="120" placeholder="说点什么。。">	
									<button type="submit" class="btn btn-success" type="button">发 表</button>
								</form>
								<div class="content">
									<div class="headpictureLittle">
										<a href="">
											<img src="../static/images/thumb.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="word">
										<a href="#">{{username}}</a>
										<span>{{content}}</span>
									</div>
									<!-- ？？回复怎么在input里面显示回复谁？？	 -->
									<div class="answer">
										<a href="#" type="button">回复</a>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href="">
											<img src="../static/images/p_large_7jNW_29a6000032971260.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="word">
										<a href="">{{username}}</a>
										{{content}}
									</div>
									<!-- ？？回复怎么在input里面显示回复谁？？	 -->
									<div class="answer">
										<a href="#" type="button">回复</a>
									</div>
								</div>
								<div class="content">
									<div class="headpictureLittle">
										<a href="">
											<img src="../static/images/p_large_7jNW_29a6000032971260.jpg" width="30" height="30" alt=""></a>
									</div>
									<div class="word">
										<a href="#">{{username}}</a>
										<span>{{content}}</span>
									</div>
									<!-- ？？回复怎么在input里面显示回复谁？？	 -->
									<div class="answer">
										<a href="#" type="button">回复</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				
				<div class="aside span3">
					<div class="flash">
			            <ul>
			              <li><a href="#"><img alt="美女" src="../static/images/126.jpg" height="220px"></a></li>
			              <li><a href="#"><img alt="美女" src="../static/images/12456.jpg" height="220"></a></li>
			              <li><a href="#"><img alt="美女" src="../static/images/mmexport1369607350257.jpg" height="220"></a></li>
			            </ul>
			        </div>
			        <div class="wrapper">
				        <div class="sidebar">
				            <ul>
				              <li class="ur"><a href="#"><img src="../static/images/thumb.jpg" alt=""><span>風の少女風の少女風の少女</span>
				              	<p>等级：15级</p></a>
				              </li>
				              <li><a href="#"><img src="../static/images/gift.png" alt="">给未来的他</a></li>
				            </ul>
				        </div>
						<div class="sidebar">
				            <ul class="fans">
				              <li><a href="#"><i class="icon-bookmark"></i> 关 注<span>15</span></a></li>
				              <li><a href="#"><i class="icon-heart"></i>喜 欢<span>215</span></a></li>
				              <li><a href="#"><i class="icon-headphones"></i>粉 丝<span>5</span></a></li>
				              <li><a href="#">Link</a></li>
				              <li><a href="#">Link</a></li>
				            </ul>
	          			</div>
          			</div>
				</div>
			</div>
		</div>
	</div>	
	
	
	


</body>
</html>