/*logo*/
.logo{ margin: 18px 13px 0 0; letter-spacing: -3px; font-size: 20px; font-weight: 600;}
.logo span{display: inline-block;
      position: relative;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
}
.logo span:hover{ top: 10px;}
.logo .char1{ color: red; top: -3px;
      -webkit-transform:rotate(-3deg);
      -moz-transform:rotate(-3deg);
      -o-transform:rotate(-3deg);
      -ms-transform:rotate(-3deg);
      transform:rotate(-3deg);
}
.logo .char2{ color: orange;}
.logo .char3{ color: yellow; top:-1px;
      -webkit-transform:rotate(2deg);
      -moz-transform:rotate(2deg);
      -o-transform:rotate(2deg);
      -ms-transform:rotate(2deg);
      transform:rotate(2deg);
}
.logo .char4{ color: #0000cd; top:-2px;}
.logo .char5{ color: #4ED000;}
.logo .char6{ color: #7D80FF; top:-3px;
     -webkit-transform:rotate(2deg);
      -moz-transform:rotate(2deg);
      -o-transform:rotate(2deg);
      -ms-transform:rotate(2deg);
      transform:rotate(2deg); 
}
.logo .char7{ color: #ff00ff; top: -0.5em;
    -webkit-transform:rotate(-4deg);
      -moz-transform:rotate(-4deg);
      -o-transform:rotate(-4deg);
      -ms-transform:rotate(-4deg);
      transform:rotate(-4deg); 
}

/*main*/
.row-fluid{ margin-top: 30px;}
/*.navbar{ opacity: 0.9; }*/
@media (min-width: 981px) {
    body {
        padding-top: 50px;
    }
}
body{ position: relative; font-size: 14px; color: #333; font-family: "tahoma","simsun", "Microsoft Yahei","宋体",Arial,sans-serif; /*background:#e4ebe9 url(../images/white_texture.png) repeat top left;*/ /*background: #dfcb99;*/ }
.header a:hover{ text-decoration: none;}
.container{ max-width: 940px; margin: 0 auto;} /*#462667*/
.main{ margin-top: 20px;}
.area,.re-area{ word-break:break-all; padding: 0px; position:relative; overflow:hidden;}
.timestamp{ color: #999; font-size: 12px;}
.media,.media-body{ overflow: visible;}
.media .media{ margin-right: 0;}
.media-footer{ margin: 5px 0 10px 0; clear: both;}
a{ color: #0088CC;}
a:hover{ color: #f50f43; text-decoration: underline; cursor: pointer;}
.replay-replay{ display: none; margin-bottom: 10px;}
.area{ width: 100%;}
.pub-area,.re-area{ width: 100%; margin: 0 0 5px 0; padding: 0;}
.media-object{ border-radius: 5px;}
.pop>a>img{ border-radius: 3px;}
.navbar-search input { border: none; margin-bottom: 0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.navbar-search button { color: #999; border: none; background: #fff; padding: 4px 3px 4px 5px; position: relative; left: -26px;}
.navbar-search button:hover{background: #fff; color: #424242;}
.navbar-search input:focus + button{ z-index: 3; color: #424242;}


/*发动态news*/
.main .news{ padding: 0 20px 10px 0px; border-right: 1px solid #ddd;}
.replay-footer{ position: relative;}
.replay-footer a{ font-size: 12px; color: #999; display: inline-block;}
.share-set{ margin: 5px 10px 0 0;}
.share-set a{ margin-right: 5px;}
.sina-off{ background: url(../images/share.png) -0px -16px no-repeat; width: 16px; height: 16px;}
.sina{ background: url(../images/share.png) -0px 0px no-repeat; width: 16px; height: 16px;}
.douban-off{ background: url(../images/share.png) -26px -16px no-repeat; width: 16px; height: 16px;}
.douban{ background: url(../images/share.png) -26px 0px no-repeat; width: 16px; height: 16px;}
.renren-off{ background: url(../images/share.png) -52px -16px no-repeat; width: 16px; height: 16px;}
.renren{ background: url(../images/share.png) -52px 0px no-repeat; width: 16px; height: 16px;}
.tencent-off{ background: url(../images/share.png) -80px -16px no-repeat; width: 16px; height: 16px;}
.tencent{ background: url(../images/share.png) -80px 0px no-repeat; width: 16px; height: 16px;}
.face{ background:url(../images/face.png) 0px -1px no-repeat; position: relative;}
.face:hover{ background-position:0px -21px; color: #FAAC58; text-decoration: none;}
.face span{ margin: 0 1px 0 25px;}
.replay-footer>a:nth-child(2):hover{ color: #0000ff; text-decoration: none;}
.replay-footer>a:nth-child(3):hover{ color: #cc0000; text-decoration: none;}
.replay-footer>a:nth-child(4):hover{ color: #B404AE; text-decoration: none;}
.replay-footer>a:nth-child(5):hover{ color: #f50f43; text-decoration: none;}
.replay-footer>a{ margin-right: 15px;}
/*表情框*/
.facebox{ z-index:10; display:block; position:absolute; top: 15px; }
.facebox::before{ display: block; position: absolute; top: 9px; left: 17px; content: ""; width: 9px; height: 9px; border-top: 1px solid #ccc; border-left: 1px solid #ccc; background: #fff; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.facebox .content{ width:410px; height:195px; padding:10px; background:#ffffff;border:1px solid #cfcfcf; margin:14px 0px 0px 0px; box-shadow:0px 1px 10px #ccc; -webkit-box-shadow:0px 1px 10px #ccc; -moz-box-shadow:0px 1px 10px #ccc; border-radius:2px;}
.facebox .content div{ float:left; color: #000;}
.facebox .content ul{ margin: 0; padding: 0; list-style-type:none; clear: both;}
.facebox .content ul li{ display:inline-block; width:32px; height:32px; padding:0px; border:1px solid #f8f8f8; float:left;}
.facebox .content ul li img{ width: 32px; height: 32px;}
.facebox .content ul li:hover{ border-color:#6C3;}
/*解析表情*/
#Zones{ display:block; width:300px; height:auto; padding:26px; position:relative; background:#fff; border:2px dashed #cacaca; margin:30px auto; display:none;}
/*state*/
.state>.media>.media-body{ margin-left: 75px;}
.state>.media>.media-body>.media{ border: 0;}
.state>.media>.media-body>.media a{ margin-bottom: 10px;}
.media h4 a:nth-child(1){ margin-right: 7px;}
.media h4 a:nth-child(2){ color: #f50f43; opacity: 0.5; text-decoration: none;}
.media h4 a:hover{ color: #f50f43; opacity: 1;}
.media-footer>i{ color: #f50f43; opacity: 0.5;} /*橘色 #FF7519*/
.media-footer span a{ margin-right: 5px;}
.media-footer span.pull-right{ color: #ccc;}
.ico>a:hover{ color: #f50f43; text-decoration: none;}
.ico>a:focus{ text-decoration: none;}
.media-footer span.pull-right{ margin: 0 5px;}
.media-body .thumbnails li{ margin: 10px 3px 0 0;} 	
.media-body .thumbnails li a{ background: none; max-height: 145px; overflow: hidden;}
.media-body .thumbnails li a:hover{ border: 1px solid #6C3; background: none;}

/*评论*/
.diary-comments .media-body{ margin-left: 65px; font-size: 12px;}
.state .media{ border-bottom: 1px solid #ddd; margin: 15px 0;}
.diary-comments .media,.news-comments .media{ border-bottom: 1px dotted #ccc; margin: 15px 0;}
.diary-comments .media .media,.news-comments .media .media{ border-top: 1px dashed #ccc; margin: 0; border-bottom: none; padding-top: 10px;}
.news-comments,.share{ font-size: 12px; display: none; border: 1px solid #ddd; padding: 10px 20px 15px 20px; margin-bottom: 15px; box-shadow:0px 1px 5px #ccc; -webkit-box-shadow:0px 1px 5px #ccc; -moz-box-shadow:0px 1px 5px #ccc; border-radius:2px;}
.news-comments .media:last-child{ border-bottom: none;}
.news-comments .media-body{ margin-left: 55px;}
.news-comments,.share{ position: relative;}
.news-comments::before{ display: block; position: absolute; top: -5px; right: 50px; content: ""; width: 8px; height: 8px; border-top: 1px solid #ccc; border-left: 1px solid #ccc; background: #fff; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.share::before{ display: block; position: absolute; top: -5px; right: 96px; content: ""; width: 8px; height: 8px; border-top: 1px solid #ccc; border-left: 1px solid #ccc; background: #fff; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}

/*tips信息*/
.media .poper{ position: relative;}
.pop{ display: none; font-size: 12px; line-height: 12px; color: #333; position: absolute; top: 70px; z-index: 10; padding:10px 10px 15px 10px; background:#ffffff;border:1px solid #cfcfcf; box-shadow:0px 1px 10px #ccc; -webkit-box-shadow:0px 1px 10px #ccc; -moz-box-shadow:0px 1px 10px #ccc; border-radius:2px;}
.news-comments .pop{ position: absolute; top: 50px;}
.pop::before{ display: block; position: absolute; top: -5px; left: 17px; content: ""; width: 8px; height: 8px; border-top: 1px solid #ccc; border-left: 1px solid #ccc; background: #fff; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.pop a img{ margin-right: 10px;}
.pop .child{ margin-top: 9px;}
.pop .child span{ margin-right: 10px;}
.pop .info{ clear: both; margin: 15px 0 15px 0; position: relative;}
.attention{ float: left; padding: 0px 6px 2px 6px; margin-right: 9px; margin-top: -4px;}
.attention-suc{ float: left; padding: 0px 0px 2px 0px; color: #41bb19; background: #F6F6F6; margin-right: 9px; margin-top: -4px;}
.attention-suc:hover{ padding: 0px 6px 2px 6px; color: #41bb19; background: #E3E3E3;}
.pop .sign{ clear: both; background: #DFEAF4; padding: 5px 0;}
.sexb{ background: #5858FA; padding: 2px 4px 3px 3px; margin-right: 5px; border-radius: 2px; color: #fff;}
.sexg{ background: #FA58F4; padding: 2px 4px 3px 3px; margin-right: 5px; border-radius: 2px; color: #fff;}


/*login*/
.span4{ margin-top: 50px; border-right: 1px solid #ddd;}
.span8{ margin-top: 50px; padding-left: 50px;}
.login-ex{  width: 180px; margin: 0 auto;}
.login-ex div{ margin-bottom: 20px; font-size: 12px; text-align: center; color: #000;}
.login-ex div span{ color: #666;}
.login-ex>a{ display: block; margin-bottom: 20px; font-size: 15px; color: #fff; position: relative;}
.login-ex a span{ position: relative; top: 1px;}
.login-ex>a:hover{ text-decoration: none; opacity: 0.8;}
.login-ex img{ margin: 0 15px;}
.login-ex .login-sina{ background: #D7051A;}
.login-ex .login-douban{ background: #007722;}
.login-ex .login-renren{ background: #0061B0;}
.login h3{ font-family: "Microsoft YaHei","WenQuanYi Micro Hei",tohoma,sans-serif; font-size: 24px; margin: 0; line-height: 36px;}
.login .alert{ display: none; margin-top: 10px; width: 160px; font-size: 12px; padding-top: 4px; padding-bottom: 4px;}
.login form{ margin-top: 20px;}
.login input{ margin-bottom: 20px; display: block;}
.login label{ font-size: 12px; color: #666; margin-bottom: 25px;}
.login button{ margin-right: 25px;}
.login .forget{ font-size: 12px;} 







/*index sidebar侧栏*/
.flash{ overflow:hidden; position:relative; margin: 3px 0 15px 0; height: 220px; border:none;}
.flash li{ position:absolute; left:0; top:0;}
.sidebar{ background-color:  #45AEEA; margin-bottom: 10px;
-webkit-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
}
.sidebar ul{ list-style: none outside none; margin: 0; padding: 0;}
.sidebar li a{ display: block; height: 35px; color: #ffffff; border-bottom: dashed 1px #B8D5F3; text-align: left; line-height: 35px; padding: 0 5px 0 10px;}
.sidebar a:hover{ background-color: #2580c6; color: #ffffff; text-decoration: none;}
.sidebar .ur a{ height: 50px; font-size: 16px; font-weight: bold; padding-left: 0; position: relative; overflow: hidden; line-height: 20px;}
.sidebar .ur img{ float:left; margin-right: 10px;}
.sidebar .ur span{ max-width: 143px; overflow: hidden; white-space: nowrap; display: block; display: inline-block;}
.sidebar .ur p{ font-size: 12px; margin-top: 10px;}
.sidebar img{ float:left; margin-right: 19px;}
.sidebar .fans i{ margin: 2px 14px 0 10px;}
.sidebar .fans span{ float: right; margin-right: 10px;}

.fixedwrapper{
	position:fixed;
	top:80px;
	/*left:0px;*/
	width:216px;
	z-index:10;
	_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop));
}



 /*homepage*/
.Upper { z-index: 999; position: absolute; top: 0;}
.Upper img{ margin: 0;}
.AutomLeaf { position: fixed; opacity: 0; z-index: 0 }
.AutomLeaffalling { position: fixed; top: 0; left: 0; opacity: 0; z-index: 0 }

.row-fluid { margin-top: 10px;}
.nav-tabs{ font-size: 12px; margin-top: 25px;}
.groupItem{ margin-bottom: 35px;}
.itmeHeader{ font-size: 14px; color: #0B610B; cursor: move; padding: 5px; margin-bottom: 25px; position: relative; color: #fff;}
.itmeHeader a{ font-size: 12px; color: #fff;}
.itmeHeader a.add{ position: absolute; right: 7px; top: 4px;}
.itmeHeader a:hover{ background-color: #FF5432; color: #fff; text-decoration: none;}
.friend .itmeHeader{ cursor: default;}
.itemContent{ height: 160px; overflow: hidden;}
.itemContent .pic,.itemContent .cn_content{ width: 120px; float: left; margin: 0 18px 200px 0px; }
.itemContent .cn_content{ width: 128px; height: 152px; overflow: hidden; border:1px solid #ccc; padding:3px; background-color:#F6F6F6; position: relative;}
.itemContent .cn_content img{ width: 100%; height: 60px; }
.itemContent .cn_content h6{ margin: 0; color: #0968A0;}
.itemContent .cn_content p{ font-size: 12px; color: #666; line-height: 15px; text-overflow:ellipsis; overflow:hidden;}
.cn_date{ width: 100%; background-color:#F6F6F6; position:absolute; bottom:20px; right:3px; font-size:12px; display: block; text-align: right; padding: 3px 0;}
a.cn_more{
	position:absolute;
	padding: 1px 0px;
	left:0px;
	bottom:0px;
	width:100%;
	color:#fff;
	text-align:center;
	font-size:12px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #011c44;
	text-transform:uppercase;
	text-decoration: none;
	outline:none;
	cursor:pointer;
	background-color: #1951A5;
	background-image:
		-moz-linear-gradient(
			top,
			rgba(255,255,255,0.25),
			rgba(255,255,255,0.05)
		);
	background-image:
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, rgba(255,255,255,0.25)),
			color-stop(1, rgba(255,255,255,0.05))
		);
	-moz-box-shadow:1px 1px 3px #111;
	-webkit-box-shadow:1px 1px 3px #111;
	box-shadow:1px 1px 3px #111;
}
a.cn_more:hover{ color: #011c44; text-shadow: 1px 1px 1px #ccdffc;}
.itemContent .photo{ width: 133px; height:160px; float: left; margin: 0 20px 200px 0px; position: relative;}
.itemContent .photo .img-info-wrapper{ display: none; position: absolute; color: #f60; top: 0px; width: 100%; background: rgba(0,0,0,0.8);
	padding: 3px 0; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.itemContent .topic{ padding: 5px 25px 5px 22px; border-bottom: 1px dashed #ccc; position: relative;}
.itemContent .topic a:hover{ background-color: #FF5432; color: #fff;}
.itemContent .topic span{ position: absolute; right: 10px; font-size: 12px;}
.title{ position: relative; font-size: 12px; background: #2B5797; color: #fff; padding: 10px 15px; margin-bottom: 15px; line-height: 16px; border: 3px solid #fff;}
.title:hover{ border: 3px solid #2E2E2E;}
.title-content>a img{ float: right; margin: 0 0 10px 10px;}
.title-content h4{ font-size: 15px; margin: 0; margin-bottom: 5px; color: #fff; max-width: 145px; overflow: hidden; text-overflow: ellipsis;}
.title-content span a{ color: #fff;}
.title-content span a:hover{ background: #FF4000; text-decoration: none;} /*橘色  FE781E*/
.title-content form { clear: both; display: none;}
.title-content form textarea{ resize: none; font-size: 12px;}
.title-content form button{ display: inline-block; margin-top: 2px;}
.title-content h5{ margin: 5px 0; color: #fff; font-size: 12px; font-weight: 400;}
.title-content h5 span{ font-size: 14px; }
.title-content img{ display:block; margin: 0 auto;}
.title-content .brand { font-weight: 600; margin-top: 5px; position: relative;}
.title-content .brand a{ font-size: 12px; padding: 0 2px; position: relative; bottom: 2px;}
.span4 .well{ position: relative; background: #E4E4E4; padding: 10px 10px;}
.span4 .well>a>i{ position: relative; float: right; top:29px;}
.span4 .well img{ position: relative; float: right; top:7px; width: 60px; height: 60px;}
.span4 .well h4{ margin: 0 0 5px 0; font-weight: bold;}
.span4 .well p{ font-size: 12px; max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 8px;}
.span4 .well span{ font-size: 14px; margin: 0;}
.span4 .well .del{ font-size: 12px; margin-left: 10px;}
.span4 .well:hover .del{display: inline-block;}
.span4 .well .del{display: none;}
.span4 .friend dl{ font-size: 12px; margin: 0 0 20px 10px; width: 60px; float: left; display: inline;}
.span4 .friend dl dt{ height: 50px; overflow: hidden; text-align: center;}
.span4 .friend dl dd{ height: 20px; overflow: hidden; text-align: center;}
.span4 .friend dl dd a:hover{ color: #fff; background: #FF5432; padding: 0;}


/*diary_edit*/
/*.diary textarea{ box-shadow: :5px 5px 5px #ddd; -webkit-box-shadow: 5px 5px 5px #ddd; -moz-box-shadow: 5px 5px 5px #ddd;}*/
.diary div{ margin-top: 5px; position: relative;}
.diary div label{ display: inline-block; position: relative; top: -4px; margin-left: 20px;}
.diary div label.radio{ position: relative; top: 6px; margin-left: 0;}

/*mydiary*/
.page-titletabs{ margin-top: 25px; margin-bottom: 25px;}
.page-titletabs .breadcrumb{ background: #fff; display: inline; margin-left: 10px; }
.list-diary{ border-top: solid 1px #ccc; padding: 10px 0; margin-bottom: 5px;}
.list-diary:first-child{ border-top: none;}
.list-diary .group{ color: #888;}
.list-diary .content-article{ margin-top: 10px;}
.list-diary .content-article img{ float: left; margin-right: 10px;}
.list-diary .detail-article{ clear: both; margin-top: 20px; color: #888;}
.list-diary button,.list-diary ul li a,.list-diary .group,.detail-article{ font-size: 12px;}



.yanzheng-img{
	width: 200;
	height: 50;
}