/*logo*/
.logo{ margin: 18px 13px 0 0; letter-spacing: -3px; font-size: 20px; font-weight: 600;}
.container a{ text-decoration: none;} 
.logo span{display: inline-block;
      position: relative;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
}
.logo span:hover{ top: 10px;}
.logo .char1{ color: red; top: -3px;
      -webkit-transform:rotate(-3deg);
      -moz-transform:rotate(-3deg);
      -o-transform:rotate(-3deg);
      -ms-transform:rotate(-3deg);
      transform:rotate(-3deg);
}
.logo .char2{ color: orange;}
.logo .char3{ color: yellow; top:-1px;
      -webkit-transform:rotate(2deg);
      -moz-transform:rotate(2deg);
      -o-transform:rotate(2deg);
      -ms-transform:rotate(2deg);
      transform:rotate(2deg);
}
.logo .char4{ color: #0000cd; top:-2px;}
.logo .char5{ color: #4ED000;}
.logo .char6{ color: #7D80FF; top:-3px;
     -webkit-transform:rotate(2deg);
      -moz-transform:rotate(2deg);
      -o-transform:rotate(2deg);
      -ms-transform:rotate(2deg);
      transform:rotate(2deg); 
}
.logo .char7{ color: #ff00ff; top: -0.5em;
    -webkit-transform:rotate(-4deg);
      -moz-transform:rotate(-4deg);
      -o-transform:rotate(-4deg);
      -ms-transform:rotate(-4deg);
      transform:rotate(-4deg); 
}

/*pictures*/
body{ /*padding-top: 50px;*/ font-size: 14px;  background:#FFE0DB; /*background: #dfcb99;*/ color: #444; font-family: "tahoma","simsun", "Microsoft Yahei","宋体",Arial,sans-serif;}
.container{ max-width: 940px; margin: 0 auto;} /*#462667*/
.header{ margin-bottom: 70px;}
/*.navbar .nav-collapse .nav li{border-left: 1px solid #45AEEA; border-right: 1px solid #2580c6;}*/
.container .polaroid{ margin-top: 20px; padding: 5px 15px 40px 15px; background-color: #f9f9f9;
			-webkit-box-shadow: 0px 0px 8px rgb(88, 84, 57);
			-moz-box-shadow: 0px 0px 8px rgb(88, 84, 57);
			-o-box-shadow: 0px 0px 8px rgb(88, 84, 57);
			box-shadow: 0px 0px 8px rgb(88, 84, 57);
			-webkit-border-radius: 4px;
	   		-moz-border-radius: 4px;
	   		-o-border-radius: 4px;
	        border-radius: 4px;}
span.show{ margin: 0 0 5px 0px;}
span.show a{margin-left: 5px;}
div.caption p{ font-family: "华文行楷","tahoma",Arial,sans-serif; font-size:18px; color: #222222;  margin: 10px 0 8px 0; width: 270px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
div.bottom{ border-top: solid 1px #D8D8D8; padding-top: 5px; margin-bottom: 5px;}
div.bottom button{ margin-top: 8px;}
div.bottom .author{ width: 180px; overflow: hidden; white-space: nowrap;}
div.author img{ float: left;}
div.author .username{ font-weight: bold; font-size: 14px;}
div.author .username a{ text-decoration: none;}

/*index*/
/*.messagge{ width: 50%;}*/
.message ul{ list-style: none outside none; margin: 0; padding: 0;}
.message li{ display: inline-block; margin-right: 15px; color: #111;}
.message textarea{ width: 93.2%;margin: 10px 0 0 0; -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; border-radius:0; resize: none;}
.message button{ margin: -4px 10px 0 0;}
.publish{ background: #eee; border: solid 1px #cccccc; font-size: 12px; padding: 10px; width: 92%; margin-top: -2px; margin-bottom: 25px;/*display:none;*/}
.publish a{  color: #aaaaaa;}
div.model{ display: -moz-box;
			display: -webkit-box;
			display: -o-box;
			display: box;
			-moz-box-orient:horizontal;
 			-webkit-box-orient:horizontal;
 			-o-box-orient:horizontal;
 			box-orient:horizontal;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-o-box-sizing: border-box;
			box-sizing: border-box;
			-moz-box-align: start;
			-webkit-box-align: start;
			-o-box-align: start;
			box-align: start;
			position: relative;
			/*max-width: 700px;*/
			width: 92%;
			margin:0px 0px 25px 0px;
		}
div.model>img{ position: absolute; top: 6px; right: -35px; z-index: 10;}
div.headpicture{ width: 60px; margin-right: 20px; height: 60px;}
div.paper{ width: 85%; padding: 10px 20px 0px 20px; margin-right: 40px;
	background-color: #ffffff;
	position:relative;
	height:auto;
	border:1px solid #ccc;
    /*-webkit-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.2);*/
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
}
.paper:hover{
	border-top-right-radius:60px 90px;
}
.paper:after{
	content: "";
	background:#FFF;
	border:1px solid #ccc;
	position: absolute;
	z-index: -1;
}
.paper:after {
	height:90%;
	width:100%;
	top:0px;
	left:-1px;
} 
div.above{ margin-bottom: 15px;}
div.above a{ margin-right: 7px;}
div.middle img{ margin-bottom: 10px; cursor:pointer;}
div.under{ clear:both; padding-bottom: 10px; margin-bottom: 20px; font-size: 12px;}
.imgLittle{ float: left; width: 150px; margin-right: 20px;}
div.under a{ text-decoration: none; margin-right: 10px; color: #aaaaaa;}
	div.under a:hover{ color: #6495ed;}


/*评论布局*/
.comments{ /*display: none; */max-height: 300px; overflow-y: scroll; font-size: 12px; position:relative;margin-right: 10px;}
.form-inline{ position: relative; margin-bottom: 20px;}
.content{
	position: relative;
	display: -moz-box;
	display: -webkit-box;
	display: -o-box;
	display: box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-align: start;
	-webkit-box-align: start;
	-o-box-align: start;
	box-align: start;
	border-bottom: solid 1px #C2CFEA;
	/*border-bottom: solid 1px #D8D8D8;*/
	margin-right: 15px;
}
.comments .content:last-child{ border-bottom:none;}
.comments .content:hover{ background:#ECEFF5; border-bottom-color:#ECEFF5;}
.content .headpictureLittle{ width: 30px; margin: 5px 10px 5px 0px;}
.content .replay{ display: block; width: 90%;}
.replay .answer small{ font-size: 11px; color: #aaa;}
.more{ /*display: none;*/ text-align: center; background: #e3eef8; border: 1px solid #cee1ee; margin-right: 15px; line-height:35px;}
.shouqi{ text-align: right; padding: 10px 0; margin-right: 30px;}

/*index sidebar侧栏*/
.flash{ overflow:hidden; position:relative; margin: 3px 0 15px 0; height: 220px; border:none;}
.flash li{ position:absolute; left:0; top:0;}
.sidebar{ background-color:  #F2BE45; margin-bottom: 10px;
-webkit-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
}
.sidebar ul{ list-style: none outside none; margin: 0; padding: 0;}
.sidebar li a{ display: block; height: 35px; color: #ffffff; border-bottom: dashed 1px #B8D5F3; text-align: left; line-height: 35px; padding: 0 5px 0 10px;}
.sidebar a:hover{ background-color: #2580c6; color: #ffffff; text-decoration: none;}
.sidebar .ur a{ height: 50px; font-size: 16px; font-weight: bold; padding-left: 0; position: relative; overflow: hidden; line-height: 20px;}
.sidebar .ur img{ float:left; margin-right: 10px;}
.sidebar .ur span{ max-width: 143px; overflow: hidden; white-space: nowrap; display: block;}
.sidebar .ur p{ font-size: 12px; margin-top: 10px;}
.sidebar img{ float:left; margin-right: 19px;}
.sidebar .fans i{ margin: 2px 14px 0 10px;}
.sidebar .fans span{ float: right; margin-right: 10px;}

.fixedwrapper{
	position:fixed;
	top:80px;
	/*left:0px;*/
	width:216px;
	z-index:10;
	_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop));
}

/*homepage*/
.sidebar_t{ background-color:  #9BDB21; line-height: 25px; font-size:12px; text-indent: 2em; width: 100%;
-webkit-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	cursor:pointer;
	z-index: 1;

}
.highlight{
	color : #fff;
	background : #68AB21;
}
#sidenav a{ /*display: none;*/ background: #91CA53;color: #fff;}
#sidenav a:hover{ font-weight: bolder; }
/*#sidenav span a{ color: #000; display: block;}*/
.time_container{ 
	border: 1px solid red;
	position: relative;
	display: -moz-box;
	display: -webkit-box;
	display: -o-box;
	display: box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-orient:vertical;
	-webkit-box-orient:vertical;
	-o-box-orient:vertical;
	box-orient:vertical;
	-moz-box-align: center;
	-webkit-box-align: center;
	-o-box-align: center;
	box-align: center;
}
.time_container section{ margin: 20px 0;
	border: 1px solid red;
	position: relative;
	display: -moz-box;
	display: -webkit-box;
	display: -o-box;
	display: box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.time_container>span{ background-color: #C7C7C7; font-size: 14px; font-weight: bold; padding: 5px 10px;}
.time_container .left{ -moz-box-flex:1; -webkit-box-flex:1;  -o-box-flex:1; box-flex:1; margin-right: 10px;}
.time_container .right{ -moz-box-flex:1; -webkit-box-flex:1;  -o-box-flex:1; box-flex:1; margin-left: 14px;}
.time_container .timeline{ background-color: brown; height: 100%; position: absolute; width:4px;}
.time_container .item{ margin-bottom: 20px; border: 1px dashed #9bdb21; text-align: justify; word-wrap: break-word;}
 