
/*logo*/
.logo{ margin: 18px 13px 0 0; letter-spacing: -3px; font-size: 20px; font-weight: 600;}
.container a{ text-decoration: none;} 
.logo span{display: inline-block;
      position: relative;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
}
.logo span:hover{ top: 10px;}
.logo .char1{ color: red; top: -3px;
      -webkit-transform:rotate(-3deg);
      -moz-transform:rotate(-3deg);
      -o-transform:rotate(-3deg);
      -ms-transform:rotate(-3deg);
      transform:rotate(-3deg);
}
.logo .char2{ color: orange;}
.logo .char3{ color: yellow; top:-1px;
      -webkit-transform:rotate(2deg);
      -moz-transform:rotate(2deg);
      -o-transform:rotate(2deg);
      -ms-transform:rotate(2deg);
      transform:rotate(2deg);
}
.logo .char4{ color: #0000cd; top:-2px;}
.logo .char5{ color: #4ED000;}
.logo .char6{ color: #7D80FF; top:-3px;
     -webkit-transform:rotate(2deg);
      -moz-transform:rotate(2deg);
      -o-transform:rotate(2deg);
      -ms-transform:rotate(2deg);
      transform:rotate(2deg); 
}
.logo .char7{ color: #ff00ff; top: -0.5em;
    -webkit-transform:rotate(-4deg);
      -moz-transform:rotate(-4deg);
      -o-transform:rotate(-4deg);
      -ms-transform:rotate(-4deg);
      transform:rotate(-4deg); 
}

/*pictures*/
.row-fluid{ margin-top: 30px;}
body{ /*padding-top: 50px;*/ font-size: 14px; background:#e4ebe9 url(../images/white_texture.png) repeat top left; /*background: #dfcb99;*/ color: #444; font-family: "tahoma","simsun", "Microsoft Yahei","宋体",Arial,sans-serif;}
.container{ max-width: 940px; margin: 0 auto;} /*#462667*/
.header{ margin-bottom: 70px;}
.container .polaroid{ margin-top: 20px; padding: 5px 15px 40px 15px; background-color: #f9f9f9;
			-webkit-box-shadow: 0px 0px 8px rgb(88, 84, 57);
			-moz-box-shadow: 0px 0px 8px rgb(88, 84, 57);
			-o-box-shadow: 0px 0px 8px rgb(88, 84, 57);
			box-shadow: 0px 0px 8px rgb(88, 84, 57);
			-webkit-border-radius: 4px;
	   		-moz-border-radius: 4px;
	   		-o-border-radius: 4px;
	        border-radius: 4px;}
span.show{ margin: 0 0 5px 0px;}
span.show a{margin-left: 5px;}
div.caption p{ font-family: "华文行楷","tahoma",Arial,sans-serif; font-size:18px; color: #222222;  margin: 10px 0 8px 0; width: 270px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
div.bottom{ border-top: solid 1px #D8D8D8; padding-top: 5px; margin-bottom: 5px;}
div.bottom button{ margin-top: 8px;}
div.bottom .author{ width: 180px; overflow: hidden; white-space: nowrap;}
div.author img{ float: left;}
div.author .username{ font-weight: bold; font-size: 14px;}
div.author .username a{ text-decoration: none;}

/*index*/
.message ul{ list-style: none outside none; margin: 0; padding: 0;}
.message li{ display: inline-block; margin-right: 15px; color: #111;}
.message textarea{ width: 93.2%;margin: 10px 0 0 0; -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; border-radius:0; resize: none;}
.message button{ margin: -4px 10px 0 0;}
.publish{ background: #eee; border: solid 1px #cccccc; font-size: 12px; padding: 10px; width: 92%; margin-top: -2px; margin-bottom: 25px;/*display:none;*/}
.publish a{  color: #aaaaaa;}
div.model{ display: -moz-box;
			display: -webkit-box;
			display: -o-box;
			display: box;
			-moz-box-orient:horizontal;
 			-webkit-box-orient:horizontal;
 			-o-box-orient:horizontal;
 			box-orient:horizontal;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-o-box-sizing: border-box;
			box-sizing: border-box;
			-moz-box-align: start;
			-webkit-box-align: start;
			-o-box-align: start;
			box-align: start;
			position: relative;
			/*max-width: 700px;*/
			width: 92%;
			margin:0px 0px 25px 0px;
			padding: 0px,0px,0px,0px;
		}
div.model>img{ position: absolute; top: 6px; right: -35px; z-index: 10;}
div.headpicture{ width: 60px; margin-right: 20px;height: 60px;}
div.paper{ width: 85%; padding: 10px 20px 0px 20px; margin-right: 40px;
	background-color: #ffffff;
	position:relative;
	height:auto;
	border:1px solid #ccc;
    /*-webkit-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.2);*/
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
}
.paper:hover{
	border-top-right-radius:60px 90px;
}
.paper:after{
	content: "";
	background:#FFF;
	border:1px solid #ccc;
	position: absolute;
	z-index: -1;
}
.paper:after {
	height:90%;
	width:100%;
	top:0px;
	left:-1px;
} 
div.above{ margin-bottom: 15px;}
div.above a{ margin-right: 7px;}
div.middle img{ margin-bottom: 10px; cursor:pointer}
div.under{ clear:both; padding-bottom: 10px; margin-bottom: 20px; font-size: 12px;}
.imgLittle{ float: left; margin-right: 20px; width: 200px; /*width:expression(this.width>250?"250px":this.width); 
max-height: 130px; height:expression(this.height>130?"130px":this.height);*/}
div.under a{ text-decoration: none; margin-right: 10px; color: #aaaaaa;}
	div.under a:hover{ color: #6495ed;}

div.usernickname{ margin-top: 15px;}

/*评论布局*/
.comments{ /*display: none;*/ max-height: 300px; overflow-y: scroll; font-size: 12px; position:relative;margin-right: 10px;}
.form-inline{ position: relative; margin-bottom: 20px; clear: both; margin-right: 20px;}
.content{
	position: relative;
	display: -moz-box;
	display: -webkit-box;
	display: -o-box;
	display: box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-align: start;
	-webkit-box-align: start;
	-o-box-align: start;
	box-align: start;
	border-bottom: solid 1px #C2CFEA;
	/*border-bottom: solid 1px #D8D8D8;*/
	margin-right: 15px;
}
.comments .content:last-child{ border-bottom:none;}
.comments .content:hover{ background:#ECEFF5; border-bottom-color:#ECEFF5;}
.content .headpictureLittle{ width: 30px; margin: 5px 10px 5px 0px;}
.content .replay{ display: block; width: 90%;}
.replay .answer small{ font-size: 11px; color: #aaa;}
.more{ /*display: none;*/ text-align: center; background: #e3eef8; border: 1px solid #cee1ee; margin-right: 15px; line-height:35px;}
.shouqi{ text-align: right; padding: 10px 0; margin-right: 30px;}

/*index sidebar侧栏*/
.flash{ overflow:hidden; position:relative; margin: 3px 0 15px 0; height: 220px; border:none;}
.flash li{ position:absolute; left:0; top:0;}
.sidebar{ background-color:  #45AEEA; margin-bottom: 10px;
-webkit-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.2);
}
.sidebar ul{ list-style: none outside none; margin: 0; padding: 0;}
.sidebar li a{ display: block; height: 35px; color: #ffffff; border-bottom: dashed 1px #B8D5F3; text-align: left; line-height: 35px; padding: 0 5px 0 10px;}
.sidebar a:hover{ background-color: #2580c6; color: #ffffff; text-decoration: none;}
.sidebar .ur a{ height: 50px; font-size: 16px; font-weight: bold; padding-left: 0; position: relative; overflow: hidden; line-height: 20px;}
.sidebar .ur img{ float:left; margin-right: 10px;}
.sidebar .ur span{ max-width: 143px; overflow: hidden; white-space: nowrap; display: block;}
.sidebar .ur p{ font-size: 12px; margin-top: 10px;}
.sidebar img{ float:left; margin-right: 19px;}
.sidebar .fans i{ margin: 2px 14px 0 10px;}
.sidebar .fans span{ float: right; margin-right: 10px;}

.fixedwrapper{
	position:fixed;
	top:80px;
	/*left:0px;*/
	width:216px;
	z-index:10;
	_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop));
}

/*homepage*/
/*.bs-docs-sidenav{ background-color:  #ffffff; line-height: 25px; font-size:12px; border-radius: 6px 6px 6px 6px;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
	-o-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
	cursor:pointer;
	z-index: 1;

}*/
/* .menu_head {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
    font-weight:bold;
}
.menu_body {
	display:none;
}
.menu_body a{
  display:block;
}
.time_container{ 
	border: 1px solid red;
	position: relative;
	display: -moz-box;
	display: -webkit-box;
	display: -o-box;
	display: box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-orient:vertical;
	-webkit-box-orient:vertical;
	-o-box-orient:vertical;
	box-orient:vertical;
	-moz-box-align: center;
	-webkit-box-align: center;
	-o-box-align: center;
	box-align: center;
}
.time_container section{ margin: 20px 0;
	border: 1px solid red;
	position: relative;
	display: -moz-box;
	display: -webkit-box;
	display: -o-box;
	display: box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.time_container>span{ background-color: #C7C7C7; font-size: 14px; font-weight: bold; padding: 5px 10px;}
.time_container .left{ -moz-box-flex:1; -webkit-box-flex:1;  -o-box-flex:1; box-flex:1; margin-right: 10px;}
.time_container .right{ -moz-box-flex:1; -webkit-box-flex:1;  -o-box-flex:1; box-flex:1; margin-left: 14px;}
.time_container .timeline{ background-color: brown; height: 100%; position: absolute; width:4px;}
.time_container .item{ margin-bottom: 20px; border: 1px dashed #9bdb21; text-align: justify; word-wrap: break-word;}
 */

 /*homepage2013-8-17*/
.Upper { z-index: 999; position: absolute; top: 0;}
.Upper img{ margin: 0;}
.AutomLeaf { position: fixed; opacity: 0; z-index: 0 }
.AutomLeaffalling { position: fixed; top: 0; left: 0; opacity: 0; z-index: 0 }


.nav-tabs{ font-size: 12px;}
.groupItem{ margin-bottom: 35px; }
.groupItem .itmeHeader{ font-size: 14px; color: #0B610B; cursor: move; padding: 5px; margin-bottom: 25px; position: relative;}
.groupItem .itmeHeader a{ font-size: 12px; padding: 3px;}
.groupItem .itmeHeader a.add{ position: absolute; right: 7px; top: 2px;}
.groupItem .itmeHeader a:hover{ background-color: #FF5432; color: #fff;}
.itemContent{ height: 160px; overflow: hidden;}
.itemContent .pic,.itemContent .cn_content{ width: 120px; float: left; margin: 0 0px 200px 22px; }
.itemContent .cn_content{ width: 128px; height: 152px; overflow: hidden; border:1px solid #ccc; padding:3px; background-color:#F6F6F6; position: relative;}
.itemContent .cn_content img{ width: 100%; height: 60px; }
.itemContent .cn_content h6{ margin: 0; color: #0968A0;}
.itemContent .cn_content p{ font-size: 12px; color: #666; line-height: 15px; text-overflow:ellipsis; overflow:hidden;}
.cn_date{ width: 100%; background-color:#F6F6F6; position:absolute; bottom:20px; right:3px; font-size:12px; display: block; text-align: right; padding: 3px 0;}
a.cn_more{
	position:absolute;
	padding: 1px 0px;
	left:0px;
	bottom:0px;
	width:100%;
	color:#fff;
	text-align:center;
	font-size:12px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #011c44;
	text-transform:uppercase;
	text-decoration: none;
	outline:none;
	cursor:pointer;
	background-color: #1951A5;
	background-image:
		-moz-linear-gradient(
			top,
			rgba(255,255,255,0.25),
			rgba(255,255,255,0.05)
		);
	background-image:
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, rgba(255,255,255,0.25)),
			color-stop(1, rgba(255,255,255,0.05))
		);
	-moz-box-shadow:1px 1px 3px #111;
	-webkit-box-shadow:1px 1px 3px #111;
	box-shadow:1px 1px 3px #111;
}
a.cn_more:hover{ color: #011c44; text-shadow: 1px 1px 1px #ccdffc;}
/*2013-8-17 */
.itemContent .photo{ width: 133px; height:160px; float: left; margin: 0 20px 200px 0px; position: relative;}
.itemContent .photo .img-info-wrapper{ display: none; position: absolute; color: #f60; top: 0px; width: 100%; background: rgba(0,0,0,0.8);
	padding: 3px 0; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.itemContent .topic{ padding: 5px 25px 5px 22px; border-bottom: 1px dashed #ccc; position: relative;}
.itemContent .topic a:hover{ background-color: #FF5432; color: #fff;}
.itemContent .topic span{ position: absolute; right: 10px; font-size: 12px;}
.title{ position: relative; font-size: 12px; background: #2B5797; color: #fff; padding: 10px 15px; margin-bottom: 15px; line-height: 16px; border: 3px solid #fff;}
.title:hover{ border: 3px solid #2E2E2E;}
.title-content>a img{ float: right; margin: 0 0 10px 10px;}
.title-content h4{ font-size: 15px; margin: 0; margin-bottom: 5px; color: #fff; max-width: 145px; overflow: hidden; text-overflow: ellipsis;}
.title-content span a{ color: #fff;}
.title-content span a:hover{ background: #FF5432;}
.title-content form { clear: both; display: none;}
.title-content form textarea{ resize: none; font-size: 12px;}
.title-content form button{ display: inline-block; margin-top: 2px;}
.title-content h5{ margin: 5px 0; color: #fff; font-size: 12px; font-weight: 400;}
.title-content h5 span{ font-size: 14px; }
.title-content img{ display:block; margin: 0 auto;}
.title-content .brand { font-weight: 600; margin-top: 5px; position: relative;}
.title-content .brand a{ font-size: 12px; padding: 0 2px; position: relative; bottom: 2px;}
.title-content .brand .sex1{ background: #5858FA; padding: 2px 3px; margin-right: 5px; border-radius: 2px; }
.title-content .brand .sex2{ background: #FA58F4; padding: 2px 3px; margin-right: 5px; border-radius: 2px; }
.span4 .well{ position: relative; background: #E4E4E4; padding: 10px 10px;}
.span4 .well>a>i{ position: relative; float: right; top:29px;}
.span4 .well img{ position: relative; float: right; top:7px; width: 60px; height: 60px;}
.span4 .well h4{ margin: 0 0 5px 0; font-weight: bold;}
.span4 .well p{ font-size: 12px; max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 8px;}
.span4 .well span{ font-size: 14px; margin: 0;}
.span4 .well .del{ font-size: 12px; margin-left: 10px;}
.span4 .well:hover .del{display: inline-block;}
.span4 .well .del{display: none;}
.span4 .friend dl{ font-size: 12px; margin: 0 0 20px 10px; width: 60px; float: left; display: inline;}
.span4 .friend dl dt{ height: 50px; overflow: hidden; text-align: center;}
.span4 .friend dl dd{ height: 20px; overflow: hidden; text-align: center;}
.span4 .friend dl dd a:hover{ color: #fff; background: #FF5432; padding: 0;}




#statusimg{
	opacity: 0;
	background-position:-120px -48px;
	padding-left: 0px;
	float: left;
	z-index: 10;
}